<div class="govuk-button-group">
    <button type="submit" class="govuk-button" data-module="govuk-button">
        {{ continueText or "Continue" }}
    </button>
    {% if showSave == true %}
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Save as a draft
        </button>      
    {% endif %}
    {% if showCancel == true %}
        <a class="govuk-link" href="/{{data.prototypeVersion}}/court-cases/confirm-cancel">Cancel</a>      
    {% endif %}
</div>
        