{% extends "../template.html" %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        {% if data.edit == 'true' %}
        <form class="form" action="check-answers?edit=false" method="post">
            {% else %}
            <form class="form" action="overall-conviction-date" method="post">
                {% endif %}
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                <span class="govuk-caption-l">Add a court case</span>
                                Enter the overall sentence length
                            </h1>
                            <div id="account-number-hint" class="govuk-hint govuk-!-margin-top-2">
                                This must be entered exactly as it is written on the warrant.
                            </div>
                        </legend>
                        <div class="govuk-form-group">
                            <div class="govuk-date-input" id="overall-sentence-length-years">
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="overall-sentence-length-years">
                                            Years
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="overall-sentence-length-years" name="appearance[overall-sentence-length-years]" type="text" inputmode="numeric" value="{{data.appearance['overall-sentence-length-years']}}">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="overall-sentence-length-months">
                                            Months
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="overall-sentence-length-months" name="appearance[overall-sentence-length-months]" type="text" inputmode="numeric" value="{{data.appearance['overall-sentence-length-months']}}">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="overall-sentence-length-weeks">
                                            Weeks
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="overall-sentence-length-weeks" name="appearance[overall-sentence-length-weeks]" type="text" inputmode="numeric" value="{{data.appearance['overall-sentence-length-weeks']}}">
                                    </div>
                                </div>
                                <div class="govuk-date-input__item">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label govuk-date-input__label" for="overall-sentence-length-days">
                                            Days
                                        </label>
                                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="overall-sentence-length-days" name="appearance[overall-sentence-length-days]" type="text" inputmode="numeric" value="{{data.appearance['overall-sentence-length-days']}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="govuk-checkboxes govuk-!-margin-top-6" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="life-sentence" name="appearance[life-sentence]" type="checkbox" value="yes">
                            <label class="govuk-label govuk-checkboxes__label" for="life-sentence">
                                Life sentence
                            </label>
                        </div>
                    </div>
                    </fieldset>
                </div>
                <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Save and continue
                </button>
                <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="/{{data.prototypeVersion}}/save-court-case">
                    Save as draft
                </a>
            </div>
            </form>
    </div>
</div>
{% endblock %}