{% extends "../../template.html" %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/breach-offence-submit" method="post">
            <div class="govuk-form-group"> 
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">Add hearing information </span>
                           Is this the correct code for the Detention and Training Order?
                        </h1>
                    </legend>
                     <div id="search-hint" class="govuk-hint">
                                   SE2058 Offence during currency of Detention and Training Order committed on 07/07/2025
                                </div>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="breach-offence1" name="breachoffence" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="breach-offence1">
                                Yes
                            </label>
                           </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="breach-offence2" name="breachoffence" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="breach-offence2">
                               No
                            </label>
                            
                    </div>
                   
                    </div>
                </fieldset>
            </div>
          <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
        </form>
    </div>
</div>
{% endblock %}