{% extends "../../template.html" %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/breach-type-submit" method="post">
            <div class="govuk-form-group"> 
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">Add a breach</span>
                            What type of breach are you recording?
                        </h1>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="breach-type1" name="breachtype" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="breach-type1">
                                A breach of supervision requirements
                            </label>
                            <div class="govuk-hint govuk-radios__hint">
                                Schedule 12, paragraph 2&3 of Sentencing Act 2020. Previously section 104.
                         </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="breach-type2" name="breachtype" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="breach-type2">
                                A new imprisonable offence committed during supervision
                            </label>
                            <div class="govuk-hint govuk-radios__hint">
                                Schedule 12, paragraph 4 of Sentencing Act 2020. Previously section 105.
                        </div>
                    </div>
                </fieldset>
            </div>
          <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
        </form>
    </div>
</div>
{% endblock %}