    {% extends "../../template.html" %}
{% set showFullNav = false %}
    {% set noBackLink = true %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
            <h1 class="govuk-panel__title govuk-!-font-size-36">
                Breach hearing successfully saved
            </h1>
        </div>
        <div class="govuk-!-margin-top-6">
            <h2 class="govuk-heading-l">What you must do next</h2> 
            
            <div class="govuk-body govuk-!-margin-top-6"><span>As this was a breach of supervision requirements, you must now add a term to the original sentence.</span>
                
            </div>
            <div class="govuk-button-group">
  <a href="term-length" class="govuk-button govuk-link govuk-link--no-visited-state" data-module="govuk-button">
    Add a term
  </a>
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Cancel
  </button>
</div>
        </div>
    </div>
</div>
{% endblock %}