{% extends "../../template.html" %}
{% set showFullNav = false %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        {% if data.edit == 'true' %}
        <form class="form" action="check-answers-breach" method="post">
            {% else %}
            <form class="form" action="check-answers-breach" method="post">
                {% endif %}
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" role="group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                <span class="govuk-caption-l">Add offences</span>
                               Which sentence is the breach consecutive to?
                            </h1>
                        </legend>
                        <p class="govuk-body-l">SE2058 Offence during currency of Detention and Training Order 
committed on 07/07/2025 </p>
                        <h2 class="govuk-heading-m">Sentences on this case</h2>
                        
                       
                        <div class="govuk-inset-text">There are no other sentences added to this appearance yet. You can select the consecutive sentence later.</div>
                        
                       
                     <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="breach-consecutive-to1" name="breachconsecutiveto" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="breach-consecutive-to1">
                                Select the consecutive sentence later
                            </label>
                           </div>
                        <div class="govuk-!-margin-top-6">
                            
                            <h2 class="govuk-heading-m govuk-!-margin-top-7">Sentences on other cases</h2>
                            

                        
                        <div class="govuk-!-margin-bottom-6"> 
                        <h3 class="govuk-heading-s">0625003444418 at Manchester Magistrates' Court on 02/09/2025

                             <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="breach-consecutive-to2" name="breachconsecutiveto" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="breach-consecutive-to2">
                                 Count 1
                                   <br>
                                   Possess a controlled drug of Class A - Cocaine 
                                   <br>
                                    <span class="govuk-hint">Committed on 02/09/2025</span>
                                </label>
                           </div>
                            <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="breach-consecutive-to3" name="breachconsecutiveto" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="breach-consecutive-to3">
                                 Count 2
                                   <br>
                                   Possess knife blade / sharp pointed article in a public place - Criminal Justice Act 1988
                                   <br>
                                    <span class="govuk-hint">Committed on 02/09/2025</span>
                                </label>
                           </div>
                            
                        </div>
                 
                    </div>
                    </fieldset>
                </div>
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                </div>
            </form>
    </div>
    <div class="govuk-grid-column-one-third">
        {% set showOffences = true %}
        {% include "includes/templates/appearance-info.njk" %}
    </div>
</div>
{% endblock %}