{% extends "../template.html" %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="overall-case-outcome" method="post">
            <div class="govuk-form-group"> 
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">Add an appearance</span>
                            Was the outcome custodial or non-custodial?
                        </h1>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="warrant-type" name="appearance[custodial-outcome]" type="radio" value="custodial">
                            <label class="govuk-label govuk-radios__label" for="warrant-type">
                                Custodial
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="warrant-type-2" name="appearance[custodial-outcome]" type="radio" value="non-custodial">
                            <label class="govuk-label govuk-radios__label" for="warrant-type-2">
                                Non-custodial
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}