{% extends "../template.html" %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="../record-an-immediate-release/task-list" method="post">
            <div class="govuk-form-group"> 
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <!-- <span class="govuk-caption-l">Record a release from prison</span> -->
                            Why are they being released?
                        </h1>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="reason-reason" name="appearance[release-reason]" type="radio" value="Immediate release from court">
                            <label class="govuk-label govuk-radios__label" for="reason-reason">
                                Immediate release from court
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="reason-reason-2" name="appearance[release-reason]" type="radio" value="Order of discontinuance">
                            <label class="govuk-label govuk-radios__label" for="reason-reason-2">
                                Order of discontinuance
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="reason-reason-3" name="appearance[release-reason]" type="radio" value="Bailed">
                            <label class="govuk-label govuk-radios__label" for="reason-reason-3">
                                Bailed
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}