<section aria-label="Service information" class="govuk-service-navigation {% if section == 'home' %} govuk-service-navigation--inverse {% endif %}" data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <span class="govuk-service-navigation__service-name">
        <a href="." class="govuk-service-navigation__link">
          Design manual
        </a>
      </span>
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item {% if section == 'components' %}govuk-service-navigation__item--active{% endif %}">
            <a class="govuk-service-navigation__link" href="components">
              {% if section == 'components' %}
                <strong class="govuk-service-navigation__active-fallback">Components</strong>
              {% else %}
                Components
              {% endif %}
            </a>
          </li>
          <li class="govuk-service-navigation__item {% if section == 'patterns' %}govuk-service-navigation__item--active{% endif %}">
            <a class="govuk-service-navigation__link" href="patterns">
              {% if section == 'patterns' %}
                <strong class="govuk-service-navigation__active-fallback">Patterns</strong>
              {% else %}
                Patterns
              {% endif %}
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>
