{% extends "../template.html" %}
{% block content %}
<!-- Back link -->
<a href="check-answers" class="govuk-back-link govuk-!-margin-top-0">Back</a>
<!-- What is the confirmed date -->
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation govuk-!-padding-0">
            <h1 class="govuk-panel__title-l">
                Court case successfully added
            </h1>
        </div>
        <form class="form" action="confirmation">
            <div class="govuk-summary-card govuk-!-margin-top-4">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Court case <span class="govuk-body">{{ data['court-case-ref'] }}</span></h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Type of case
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['type-of-case'] }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Court name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['court-name'] }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Warrant date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['warrant-date-day'] }}/{{ data['warrant-date-month'] }}/{{ data['warrant-date-year'] }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Overall case outcome
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['overall-case-outcome'] }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Next court date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['next-court-date-day'] }}/{{ data['next-court-date-month'] }}/{{ data['next-court-date-year'] }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Next court date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['next-court-date-day'] }}/{{ data['next-court-date-month'] }}/{{ data['next-court-date-year'] }} at {{ data['next-court-time'] }} {{ data['next-court-time-period'] }}
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
            <button class="govuk-button" data-module="govuk-button">
                Add sentences
            </button>
            <p class="govuk-body"><a href="../court-cases-standalone-1">Return to court cases</a></p>
        </form>
    </div>
</div>
{% endblock %}