{% extends "../template.html" %}
{% block content %}
<!-- Back link -->
<a href="../hub-page" class="govuk-back-link govuk-!-margin-top-0">Back</a>
<!-- What is the confirmed date -->
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="warrant-date">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">Add a court case</span>
                            What is the court name?
                        </h1>
                    </legend>
                    <div id="search-hint" class="govuk-hint">
                        Enter a court name, address, town or city.
                    </div>
                    <div>
                        <select id="court-name-select" class="enhance-autcomplete" name="courtCase[court-name]" type="text" aria-describedby="search-hint">
                            <option></option>
                            
                            <option value="Bedford">Bedford Magistrates Court</option>
                            <option value="Birmingham">Birmingham Crown Court</option>
                            <option value="Birmingham">Birmingham Magistrates Court</option>
                            <option value="Manchester">Bradford Magistrates Court</option>
                            <option value="Manchester">Bradford Crown Court</option>
                            <option value="Manchester">Carlisle Magistrates Court</option>
                            <option value="Manchester">Chester Combined Court Centre</option>
                            <option value="Manchester">Doncaster Magistrates Court</option>
                            <option value="Manchester">Leeds Combined Court Centre</option>
                            <option value="Manchester">Luton Crown Court</option>
                            <option value="Manchester">Luton Magistrates Court</option>

                        </select>
                    </div>
                    </fieldset>
            </div>
    <button class="govuk-button" data-module="govuk-button">
        Continue
    </button>
    </form>
</div>
</div>
{% endblock %}

