{% extends "/28/template.html" %}
{% set backLinkTarget = '/' + data.prototypeVersion + '/court-cases/' %}
{% block content %}
<!-- Court cases detailed view -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l govuk-!-margin-top-4">Appearances for 0625003444418
                    at Manchester Magistrates' Court</h1>
            </div>
        </div>
   
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      
        <div class="govuk-grid-row govuk-!-margin-top-6">
            <div class="govuk-grid-column-three-quarters">
                <h2 class="govuk-heading-m">432600019000 at Manchester Magistrates' Court 
                    on 15/07/2026</h2>
                </div>
                <div class="govuk-grid-column-one-quarter">
                <ul class="offence-card-actions-list">
                    <li class="offence-card-action-link"><a class="govuk-link--no-visited-state"
                            href="./add-a-breach/edit-appearance">Edit</a>
                        </li>
                    <li class="offence-card-action-link"><a href="confirm-delete-appearance?courtCaseIndex={{data.courtCaseIndex}}&appearanceIndex={{loop.revindex0}}" class="govuk-link--no-visited-state">Delete</a>
                    </li>
                </ul>
            </div>
           <div class="govuk-grid-row govuk-!-padding-bottom-2 govuk-!-margin-top-2">
            <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Case reference</h3>
                <p class="govuk-body govuk-!-margin-bottom-3">432600019000</p>
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Hearing date of the breach</h3>
                <p class="govuk-body govuk-!-margin-bottom-3">15/07/2026</p>
            </div>
            <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Location</h3>
                <p class="govuk-body govuk-!-margin-bottom-2">Manchester Magistrates' Court</p>
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Outcome</h3>
                <p class="govuk-body govuk-!-margin-bottom-3">DTO (Detention and training order)</p>
              </div>
            <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Breach of supervision requirements</h3>
                <p class="govuk-body govuk-!-margin-bottom-3"> {{ data['sentence']['term-length-years'] }} years {{
                            data['sentence']['term-length-months'] }} months {{
                            data['sentence']['term-length-weeks'] }} weeks {{
                            data['sentence']['term-length-days'] }} days   </p>
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Court documents</h3>
                <ul class="govuk-list govuk-list--no--bullet govuk-!-margin-bottom-3">
                    <li><a href="{{ asset_path }}documents/order-of-imprisonment-court-case-2.pdf"
                            class="govuk-link--no-visited-state" target="_blank"><svg
                                class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 16 20" width="20" height="16">
                                <path
                                    d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z">
                                </path>
                            </svg>Breach order</a></li>
                </ul>
            </div>
            <div class="govuk-grid-column-full govuk-!-margin-top-4">
                
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Offences</h3>
                <details class="govuk-details filter white govuk-!-margin-bottom-0 show-toggle">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            offences (2)
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <div class="offence-card offence-card">
                                  <div class="offence-card-offence-details">
                                                <span class="govuk-body">Count 1</span>
                                                <h4 class="govuk-heading-s">Possess a controlled drug of Class A - Cocaine 
                                                </h4>
                                                <dl class="govuk-summary-list govuk-summary-list--no-border">
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                           Committed on
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                           02/09/2026
                                                        </dd>
                                                    </div>
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                        Outcome
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                            Detention and training order (DTO)
                                                        </dd>
                                                    </div>
                                                    
                                            </div>
                                </div>
                                 <div class="offence-card offence-card">
                                  <div class="offence-card-offence-details">
                                                <span class="govuk-body">Count 2</span>
                                                <h4 class="govuk-heading-s"> Possess knife blade / sharp pointed article in a public place - Criminal Justice Act 1988
                                                </h4>
                                                <dl class="govuk-summary-list govuk-summary-list--no-border">
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                           Committed on
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                           02/09/2026
                                                        </dd>
                                                    </div>
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Outcome
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                            Detention and training order (DTO)
                                                        </dd>
                                                    </div>
                                                    
                                            </div>
                                </div>
                                </div>
                </details>
             
            </div>
        </div>
            
        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

         <div class="govuk-grid-row govuk-!-margin-top-6">
           <div class="govuk-grid-column-three-quarters">
                <h2 class="govuk-heading-m">432600019000 at Manchester Magistrates' Court 
                    on 02/09/2025</h2>
                </div>
        
         <div class="govuk-grid-column-one-quarter">
                <ul class="offence-card-actions-list">
                    <li class="offence-card-action-link"><a class="govuk-link--no-visited-state" href="./add-a-breach/edit-appearance">Edit</a>
                        </li>
                    <li class="offence-card-action-link"><a href="confirm-delete-appearance?courtCaseIndex={{data.courtCaseIndex}}&appearanceIndex={{loop.revindex0}}" class="govuk-link--no-visited-state">Delete</a>
                    </li>
                </ul>
            </div>
      <div class="govuk-grid-row govuk-!-padding-bottom-2 govuk-!-margin-top-2">
            <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Case reference</h3>
                <p class="govuk-body govuk-!-margin-bottom-3">432600019000</p>
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Warrant date</h3>
                <p class="govuk-body govuk-!-margin-bottom-3">02/09/2025</p>
            </div>
            <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Location</h3>
                <p class="govuk-body govuk-!-margin-bottom-2">Manchester Magistrates' Court</p>
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Outcome</h3>
                <p class="govuk-body govuk-!-margin-bottom-3">DTO (Detention and training order)</p>
              </div>
            <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Court documents</h3>
                <ul class="govuk-list govuk-list--no--bullet govuk-!-margin-bottom-3">
                    <li><a href="{{ asset_path }}documents/order-of-imprisonment-court-case-2.pdf"
                            class="govuk-link--no-visited-state" target="_blank"><svg
                                class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 16 20" width="20" height="16">
                                <path
                                    d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z">
                                </path>
                            </svg>Warrant order</a></li>
                </ul>
            </div>
        </div>
            <div class="govuk-grid-column-full govuk-!-margin-top-4">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Offences</h3>
                <details class="govuk-details filter white govuk-!-margin-bottom-0 show-toggle">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            offences (2)
                        </span>
                    </summary>
                      <div class="govuk-details__text">
                              <div class="offence-card sentence-card">
                                  <div class="offence-card-offence-details">
                                                <span class="govuk-body">Count 1</span>
                                                <h4 class="govuk-heading-s">Possess a controlled drug of Class A - Cocaine 
                                                </h4>
                                                <dl class="govuk-summary-list govuk-summary-list--no-border">
                                                   
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Commited on
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                            02/09/2025
                                                        </dd>
                                                    </div>
                                                    
                                                 <!--   <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Conviction date
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                           15/07/2026
                                                        </dd>
                                                    </div>-->
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Outcome
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                           DTO (Detention and training order)
                                                        </dd>
                                                    </div>
                                                    
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Sentence type
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                           Detention and Training Order
                                                        </dd>
                                                    </div>
                                                    
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Term length
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                            0 years 24 months 0 weeks 0 days
                                                        </dd>
                                                    </div>
                                                     <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Breach of supervision requirements
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                            {{ data['sentence']['term-length-years'] }} years {{
                            data['sentence']['term-length-months'] }} months {{
                            data['sentence']['term-length-weeks'] }} weeks {{
                            data['sentence']['term-length-days'] }} days   
                                                        </dd>
                                                    </div>
                                                   
                                                    
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Consecutive or concurrent
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                            Forthwith
                                                        </dd>
                                                    </div>
                                                    
                                                </dl>
                                            </div>
                                </div>
                                 <div class="offence-card sentence-card">
                                  <div class="offence-card-offence-details">
                                                <span class="govuk-body">Count 2</span>
                                                <h4 class="govuk-heading-s">Possess knife blade / sharp pointed article in a public place - Criminal Justice Act 1988
                                                </h4>
                                                <dl class="govuk-summary-list govuk-summary-list--no-border">
                                                   
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Commited on
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                             02/08/2025
                                                        </dd>
</div>
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Outcome
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                           Detention and training order
                                                        </dd>
                                                    </div>
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Sentence type
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                            Detention and training order
                                                        </dd>
                                                    </div>
                                                    
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Term length
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                           0 years 24 months 0 weeks 0 days
                                                        </dd>
                                                    </div>
                                                   
                                                    
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Consecutive or concurrent
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                            Concurrent
                                                        </dd>
                                                    </div>
                                                    
                                                </dl>
                                            </div>
                                </div>
                                </div>
                </details>
             
            </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    </div>
    {% endblock %}