{% extends "../template.html" %}
{% set nav = true %}
{% set noBackLink = true %}
{% block content %}
<!-- Court cases -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Court cases</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if data.courtCases | length %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-bottom-0">
          <p class="govuk-body">Showing <strong>1</strong> to <strong>1</strong> of <strong>1</strong> court cases</p>
        </div>
      </div>
    {% endif %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% if data.courtCases | length %}
          {% for courtCase in data.courtCases %}
            {% if loop.index0 < 1 %}
              {% set lastAppearance = courtCase.appearances | last %}
              {% set courtCaseIndex = loop.index0 %}
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title govuk-!-width-two-thirds court-case-name">
                    0625003444418 <span class="govuk-body">at</span> Manchester Magistrates' Court 
                  </h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      
                        <a class="govuk-link govuk-link--no-visited-state"
                           href="add-a-breach/breach-type">
                          Add breach<span class="govuk-visually-hidden"> to court case</span>
                          
                        </a>
                        
                 
                    </li>
                  </ul>
                </div>

         <div class="govuk-summary-card__content">
             <!--     {% if (courtCase.appearances.length == 1) and (lastAppearance['status'] == 'draft') %}
                    <p class="govuk-body govuk-!-margin-top-2">The appearance information for this court case has been saved as a draft.</p>
                    <p class="govuk-body">
                      <a href="add-a-court-case/task-list?courtCaseIndex={{ courtCaseIndex }}">
                        Continue adding appearance information
                      </a>
                    </p>
                  {% else %}
                    {% if lastAppearance['merged-from-case'] %}
                      <div class="govuk-inset-text govuk-!-margin-top-2">
                        {{ lastAppearance['merged-from-case'] }} was merged with this case
                        {% if lastAppearance['merged-from-case-date'] %}on {{ lastAppearance['merged-from-case-date'] }}{% endif %}
                      </div>
                    {% endif %}

                    {% if (courtCase['status'] == 'inactive') and (courtCase['merged-with']) %}
                      <div class="govuk-inset-text govuk-!-margin-top-2">
                        This court case has been merged with {{ courtCase['merged-with'] }}
                      </div>
                    {% endif %}-->

                    <dl class="govuk-summary-list">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Case references</dt>
                        <dd class="govuk-summary-list__value">
                          0625003444418 
                        </dd>
                      </div>
                       <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">First day in custody</dt>
                        <dd class="govuk-summary-list__value">
                          02/09/2025
                        </dd>
                      </div>
                     <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Overall case outcome</dt>
                        <dd class="govuk-summary-list__value">
                       Detention and training order (DTO)
                         </dd>
                     </div>
                     <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Overall sentence length</dt>
                        <dd class="govuk-summary-list__value">
                         0 years 24 months 0 weeks 0 days
                         </dd>
                     </div>
                    </dl>

                    <hr class="govuk-section-break govuk-section-break--visible">

                    <div class="govuk-grid-row">
                      <div class="govuk-grid-column-one-half">
                        <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">Latest hearing</h2>
                      </div>
                    </div>

                    <div class="govuk-grid-row govuk-!-padding-bottom-2 govuk-!-margin-top-2">
                      <div class="govuk-grid-column-one-third">
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Case reference</h3>
                        <p class="govuk-body govuk-!-margin-bottom-2">0625003444418</p>

                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Warrant date</h3>
                        <p class="govuk-body govuk-!-margin-bottom-2">
                         02/09/2025
                        </p>

                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Outcome</h3>
                        <p class="govuk-body govuk-!-margin-bottom-2">Detention and training order (DTO)</p>
                      </div>

                      <div class="govuk-grid-column-two-thirds">
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Location</h3>
                        <p class="govuk-body govuk-!-margin-bottom-2">Manchester Magistrates Court </p>

                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Warrant type</h3>
                        <p class="govuk-body govuk-!-margin-bottom-2">Warrant</p>

                        {% if lastAppearance['overall-case-outcome'] == 'Imprisonment' %}
                          <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Conviction date</h3>
                          <p class="govuk-body govuk-!-margin-bottom-2">
                            {{ lastAppearance['overall-conviction-date-day'] }}/{{ lastAppearance['overall-conviction-date-month'] }}/{{ lastAppearance['overall-conviction-date-year'] }}
                          </p>
                        {% endif %}
                      </div>

                      <div class="govuk-grid-column-full govuk-!-margin-top-4">
                        
                          <details class="govuk-details filter white show-toggle govuk-!-margin-top-0">
                            <summary class="govuk-details__summary">
                              <span class="govuk-details__summary-text">offences (2)</span>
                            </summary>
                            <div class="govuk-details__text">
                              
                            
                                 <div class="offence-card offence-card">
                                  <div class="offence-card-offence-details">
                                                <span class="govuk-body">Count 1</span>
                                                <h4 class="govuk-heading-s">Possess a controlled drug of Class A - Cocaine 
                                                </h4>
                                                <dl class="govuk-summary-list govuk-summary-list--no-border">
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Conviction date
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                           15/07/2026
                                                        </dd>
                                                    </div>
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Overall case outcome
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                            Detention and training order (DTO)
                                                        </dd>
                                                    </div>
                                                    
                                            </div>
                                </div>
                                 <div class="offence-card offence-card">
                                  <div class="offence-card-offence-details">
                                                <span class="govuk-body">Count 2</span>
                                                <h4 class="govuk-heading-s">	Possess knife blade / sharp pointed article in a public place - Criminal Justice Act 1988
                                                </h4>
                                                <dl class="govuk-summary-list govuk-summary-list--no-border">
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Conviction date
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                           15/07/2026
                                                        </dd>
                                                    </div>
                                                    <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Overall case outcome
                                                        </dt>
                                                        <dd class="govuk-summary-list__value">
                                                            Detention and training order (DTO)
                                                        </dd>
                                                    </div>
                                                    
                                            </div>
                                </div>
                              
                             
                            </div>
                          </details>

                      </div>
                    </div>

                    <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-4">
                    <p class="govuk-body govuk-!-margin-top-6">
                      <a class="govuk-link--no-visited-state govuk-!-font-weight-bold"
                         href="./court-case-detail">
                        
                          View and edit all hearings
                        
                        for this court case (1)
                      </a>
                    </p>
                  {% endif %}
                </div>
              </div>
   {% endif %}
          {% endfor %}
        {% else %}
          <p class="govuk-body">There are no court cases recorded for Daryl Evans.</p>
          <p class="gouk-body">
            <a class="govuk-link--no-visited-state" href="/{{data.prototypeVersion}}/create-court-case?route=new-court-case">
              Add a court case now
            </a>
          </p>
        {% endif %}
      </div>
    </div>
    {% if data.courtCases.length > 0 %}
   <!-- <nav class="govuk-pagination govuk-!-margin-top-6" role="navigation" aria-label="Pagination">
        <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item govuk-pagination__item--current">
                <a class="govuk-link govuk-link--no-visited-state govuk-pagination__link" href="#" aria-label="Page 1"
                    aria-current="page">
                    1
                </a>
            </li>
            <li class="govuk-pagination__item">
                <a class="govuk-link govuk-link--no-visited-state govuk-pagination__link" href="court-cases-2"
                    aria-label="Page 2">
                    2
                </a>
            </li>
            <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                        3
                    </a>
                </li> 
        </ul>
        <div class="govuk-pagination__next">
            <a class="govuk-link govuk-link--no-visited-state govuk-pagination__link" href="court-cases-2" rel="next">
                <span class="govuk-pagination__link-title">Next<span class="govuk-visually-hidden"> page</span></span>
                <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg"
                    height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path
                        d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
                    </path>
                </svg></a>
        </div>
    </nav> -->
    {% endif %}
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="actions-list">
      <ul class="govuk-list actions-list-list">
        <span class="govuk-heading-m actions-list-header">Actions</span>
        <li><a href="/{{data.prototypeVersion}}/create-court-case?route=new-court-case">Add a new court case</a></li>
        <!-- <li><a href="record-an-immediate-release/select-court-case">Record an immediate release</a></li> -->
      </ul>
    </div>
  </div>
</div>
{% endblock %}
