<div class="govuk-summary-card govuk-!-margin-bottom-4">
  <div class="govuk-summary-card__title-wrapper">
    <h4 class="govuk-summary-card__title">{{ sentence['offence-code'] }}</h4>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Sentence type</dt>
        <dd class="govuk-summary-list__value">{{ sentence['sentence-type'] or 'Unknown' }} <strong class="govuk-tag govuk-tag--green">Updated</strong></dd>
      </div>
    </dl>
  </div>
</div>
