{% extends "../template.html" %}
{% block content %}
<!-- What is the confirmed date -->
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        {% if data.edit == 'true' %}
        <form class="form" action="/v11/persist-sentence?edit=true" method="post">
            {% else %}
            <form class="form" action="sentence-length" method="post">
                {% endif %}
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                <span class="govuk-caption-l">Add sentence information for count {{ data['sentence']['count-number'] }}</span>
                                Select the sentence type
                            </h1>
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="sentence-type-1" name="sentence[sentence-type]" type="radio" value="SDS (Standard Determinate Sentence)" {% if data.sentence['sentence-type']=='SDS (Standard Determinate Sentence)' %} checked {% endif %}>
                                <label class="govuk-label govuk-radios__label" for="sentence-type-1">
                                    SDS (Standard Determinate Sentence)
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="sentence-type-2" name="sentence[sentence-type]" type="radio" value="EDS (Extended Determinate Sentence)" {% if data.sentence['sentence-type']=='EDS (Extended Determinate Sentence)' %} checked {% endif %}>
                                <label class="govuk-label govuk-radios__label" for="sentence-type-2">
                                    EDS (Extended Determinate Sentence)
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="sentence-type-3" name="sentence[sentence-type]" type="radio" value="SOPC (Special Custodial Sentence for Certain Offenders of Particular Concern)" {% if data.sentence['sentence-type']=='SOPC (Special Custodial Sentence for Certain Offenders of Particular Concern)' %} checked {% endif %}>
                                <label class="govuk-label govuk-radios__label" for="sentence-type-3">
                                    SOPC (Special Custodial Sentence for Certain Offenders of Particular Concern)
                                </label>
                                <div id="sopc-hint" class="govuk-hint govuk-radios__hint">
                                    A manditory licence period of 12 months will automatically be added to the sentence
                                </div>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="sentence-type-4" name="sentence[sentence-type]" type="radio" value="DTO (Detention and Training Order)" {% if data.sentence['sentence-type']=='DTO (Detention and Training Order)' %} checked {% endif %}>
                                <label class="govuk-label govuk-radios__label" for="sentence-type-4">
                                    DTO (Detention and Training Order)
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="sentence-type-5
                        5" name="sentence[sentence-type]" type="radio" value="A/FINE" {% if data.sentence['sentence-type']=='A/FINE' %} checked {% endif %}>
                                <label class="govuk-label govuk-radios__label" for="sentence-type-5">
                                    A/FINE
                                </label>
                            </div>
                            <!--                         <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="sentence-type-6" name="sentence[sentence-type]" type="radio" value="Licence Recall">
                            <label class="govuk-label govuk-radios__label" for="sentence-type-6">
                                Licence Recall
                            </label>
                        </div> -->
                            <!--                         <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="sentence-type-7" name="sentence[sentence-type]" type="radio" value="License Recall EDS and SOPC">
                            <label class="govuk-label govuk-radios__label" for="sentence-type-7">
                                License Recall EDS and SOPC
                            </label>
                        </div> -->
                        </div>
                    </fieldset>
                </div>
                <button class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </form>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="offence-summary">
            <h2 class="govuk-heading-m govuk-!-margin-top-4">Appearance details</h2>
            <dl class="govuk-summary-list govuk-summary-list--no-border offences-summary-card-content">
                <div class="govuk-summary-list__row offences-summary-card-court-details-row">
                    <dt class="govuk-summary-list__key">
                        Case reference number
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['appearance']['court-case-ref'] }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row offences-summary-card-court-details-row">
                    <dt class="govuk-summary-list__key">
                        Court name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['appearance']['court-name'] }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row offences-summary-card-court-details-row">
                    <dt class="govuk-summary-list__key">
                        Warrant date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['appearance']['warrant-date-day'] }}/{{ data['appearance']['warrant-date-month'] }}/{{ data['appearance']['warrant-date-year'] }}
                    </dd>
                </div>
            </dl>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">Offences</h2>
            <dl class="govuk-summary-list govuk-summary-list--no-border offences-summary-card-content">
                <div class="govuk-summary-list__row offences-summary-card-offence-details-row">
                    <dt class="govuk-summary-list__key">
                        Offences added
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data.appearance.offences | length }}
                    </dd>
                </div>
            </dl>
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Show offences
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <dl class="offences-summary-card-content">
                        {% for offence in data.appearance.offences %}
                        <div class="offences-summary-card-row">
                            <dt class="offences-summary-card-key govuk-!-font-weight-bold">
                                {{ offence['offence-name'] }}
                            </dt>
                            <dd class="offences-summary-card-value govuk-body-s">Committed on {{ offence['offence-start-date-day'] }}/{{ offence['offence-start-date-month'] }}/{{ offence['offence-start-date-year'] }}</dd>
                        </div>
                        {% endfor %}
                    </dl>
                </div>
            </details>
        </div>
    </div>
</div>
{% endblock %}