{% extends "../template.html" %}
{% block content %}
<!-- Back link -->
<a href="check-answers" class="govuk-back-link govuk-!-margin-top-0">Back</a>
<!-- What is the confirmed date -->
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation govuk-!-padding-0">
            <h1 class="govuk-panel__title-l">
                Offence successfully added
            </h1>
        </div>
        <form class="form" action="../court-cases-standalone-2">
            <div class="govuk-summary-card govuk-!-margin-top-4">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Court case {{ data['court-case-ref'] }}</h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Type of case
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['type-of-case'] }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Court name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['court-name'] }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Warrant date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['warrant-date-day'] }}/{{ data['warrant-date-month'] }}/{{ data['warrant-date-year'] }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Overall case outcome
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['overall-case-outcome'] }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Next court date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['next-court-date-day'] }}/{{ data['next-court-date-month'] }}/{{ data['next-court-date-year'] }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Next court date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data['next-court-date-day'] }}/{{ data['next-court-date-month'] }}/{{ data['next-court-date-year'] }} at {{ data['next-court-time'] }} {{ data['next-court-time-period'] }}
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
            <h2 class="govuk-heading-m">Offences</h2>
            <div class="govuk-!-margin-bottom-6 app-possible-prison-record" style="display: flex;">
                <div class="govuk-grid-column-full govuk-!-margin-top-4">
                    <h3 class="govuk-body-s govuk-!-margin-bottom-0">Count {{ data['count-number'] }}</h3>
                    <h4 class="govuk-heading-s govuk-!-margin-bottom-1">
                        {{ data['offence-name'] }}
                    </h4>
                    <p class="govuk-body-s">Committed on {{ data['offence-start-date-day'] }}/{{ data['offence-start-date-month'] }}/{{ data['offence-start-date-year'] }}</p>
                    <table class="govuk-table govuk-!-margin-right-4 govuk-!-margin-bottom-6 govuk-!-margin-bottom-0">
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row govuk-body-s">
                                <th scope="row" class="govuk-table__header sentence-table-header">Outcome</th>
                                <td class="govuk-table__cell">{{ data['outcome'] }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="govuk-button-group">
  <button class="govuk-button" data-module="govuk-button">
    Finish and save
  </button>
  <button class="govuk-button govuk-button--secondary" data-module="govuk-button" formaction="count-number">
    Add another offence
  </button>
</div>
            <p class="govuk-body"><a href="../court-cases-standalone-1">Return to court cases</a></p>
        </form>
    </div>
</div>
{% endblock %}