{% extends "../template.html" %}
{% block content %}
<!-- Back link -->
<a href=".offence-date" class="govuk-back-link govuk-!-margin-top-0">Back</a>
<!-- What is the confirmed date -->
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/offence-code-known" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">Add a sentence to court case A123456</span>
                            Enter the offence code
                        </h1>
                    </legend>
                    <input class="govuk-input govuk-input--width-10" id="offence-code" name="offence-code" type="text">
                    <div class="govuk-checkboxes govuk-!-margin-top-6" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="None" name="offence-code" type="checkbox" value="None">
                            <label class="govuk-label govuk-checkboxes__label" for="no-court-case-ref">
                                There is no offence code
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>
{% endblock %}