{% extends "../template.html" %}
{% block content %}
<!-- What is the confirmed date -->
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
       <form class="form" action="/appeal-outcome-select" method="post">
           <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                Select the outcome of the appeal for this offence
                            </h1>
                       </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="appeal-type-1" name="appeal[appeal-type]"
                                    type="radio" value="Sentence varied" {% if
                                    data.appeal['appeal-type']=='Sentence varied' %} checked {%
                                    endif %}>
                                <label class="govuk-label govuk-radios__label" for="appeal-type-1">
                                   Sentence varied
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="appeal-type-2" name="appeal[appeal-type]"
                                    type="radio" value="Appeal pending" {% if
                                    data.appeal['appeal-type']=='Appeal pending' %} checked {%
                                    endif %}>
                                <label class="govuk-label govuk-radios__label" for="appeal-type-2">
                                    Appeal pending
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="appeal-type-3" name="appeal[appeal-type]"
                                    type="radio" value="Appeal dismissed" {% if
                                    data.appeal['appeal-type']=='Appeal dismissed' %}
                                    checked {% endif %}>
                                <label class="govuk-label govuk-radios__label" for="appeal-type-3">
                                    Appeal dismissed
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="appeal-type-4" name="appeal[appeal-type]"
                                    type="radio" value="Conviction quashed" {% if
                                    data.appeal['appeal-type']=='Conviction quashed' %} checked {% endif %}>
                                <label class="govuk-label govuk-radios__label" for="appeal-type-4">
                                    Conviction quashed
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="appeal-type-5" name="appeal[appeal-type]"
                                    type="radio" value="Retrial" {% if
                                    data.appeal['appeal-type']=='Retrial'%} checked {% endif %}>
                                <label class="govuk-label govuk-radios__label" for="appeal-type-5">
                                    Retrial
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="appeal-type-6" name="appeal[appeal-type]"
                                    type="radio" value="Replaced by another offence" {% if
                                    data.appeal['appeal-type']=='Replaced by another offence' %} checked {% endif %}>
                                <label class="govuk-label govuk-radios__label" for="appeal-type-6">
                                   Replaced by another offence
                                </label>
                            </div>
                          
                            <!--                         <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="sentence-type-6" name="sentence[sentence-type]" type="radio" value="Licence Recall">
                            <label class="govuk-label govuk-radios__label" for="sentence-type-6">
                                Licence Recall
                            </label>
                        </div> -->
                            <!--                         <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="sentence-type-7" name="sentence[sentence-type]" type="radio" value="License Recall EDS and SOPC">
                            <label class="govuk-label govuk-radios__label" for="sentence-type-7">
                                License Recall EDS and SOPC
                            </label>
                        </div> -->
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                </div>
            </form>
    </div>
    <div class="govuk-grid-column-one-third">
        {% set showOffences = true %}
        {% include "includes/templates/appearance-info.njk" %}
    </div>
</div>
{% endblock %}