{% extends "../template.html" %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        
        <form class="form" action="check-answers" method="post">
            
            <div class="govuk-form-group"> 
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">Add ahearing information</span>
                            Select the overall case outcome
                        </h1>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="overallCaseOutcome" name="appearance[overall-case-outcome]" type="radio" value="Sentence varied">
                          <label class="govuk-label govuk-radios__label" for="overallCaseOutcome">
                           Sentence varied
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="overallCaseOutcome-2" name="appearance[overall-case-outcome]" type="radio" value=" Appeal pending">
                          <label class="govuk-label govuk-radios__label" for="overallCaseOutcome-2">
                           Appeal pending
                          </label> 
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="overallCaseOutcome-3" name="appearance[overall-case-outcome]" type="radio" value=" Appeal dismissed">
                          <label class="govuk-label govuk-radios__label" for="overallCaseOutcome-3">
                            Appeal dismissed
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="overallCaseOutcome-4" name="appearance[overall-case-outcome]" type="radio" value=" Conviction quashed">
                          <label class="govuk-label govuk-radios__label" for="overallCaseOutcome-4">
                            Conviction quashed
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="overallCaseOutcome-5" name="appearance[overall-case-outcome]" type="radio" value="Retrail">
                          <label class="govuk-label govuk-radios__label" for="overallCaseOutcome-5">
                           Retrail
                          </label>
                        </div>
                      
                      </div>
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>
{% endblock %}