{% extends "../template.html" %}
{% block content %}

<div class="govuk-grid-row govuk-!-margin-top-4">    
<div class="govuk-grid-column-two-thirds">
        <form class="form" action="/record-appeal-submit" method="post">
            <h1 class="govuk-heading-l">
                Record appeal
            </h1>
            <div class="govuk-!-margin-top-6">
                <h2 id="offences-section" class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-6">Offences (0)</h2>
 
  <div class="govuk-inset-text govuk-!-margin-top-2">
                      There are no offences with an appeal outcome
                       </div>

                         <hr class="govuk-section-break govuk-section-break--l govuk-!-margin-top-8 govuk-section-break--visible">
                       <h2 class="govuk-heading-m govuk-!-margin-top-7">Offences with an appeal recorded  (3)</h2>


                      
                 <div class="offence-card sentence-card govuk-grid-column-two-thirds">
  <div class="offence-card-offence-details">
    <div class="gouk-body">Count 1</div>
    <h4 class="govuk-heading-s">Contrary to section 4(3) of and Schedule 4 to the Misuse of Drugs Act 1971 and section 1(1) of the Criminal Law Act 1977</h4>
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Committed on</dt>
        <dd class="govuk-summary-list__value">
            1/08/2025 to 30/09/2025
         </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Conviction date</dt>
        <dd class="govuk-summary-list__value">
         31/01/2026
        </dd>
      </div>
      <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                       Appeal Outcome
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                       Sentence varied
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Sentence type
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                       SDS (Standard Determinate Sentence)
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                       Sentence length
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                       8 years 0 months 0 weeks 0 days
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                       Consecutive or concurrent
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      Concurrent
                                    </dd>
                                </div>

    
    </dl>
<!--<ul class="govuk-list govuk-!-margin-top-4 govuk-!-margin-bottom-2">
     <li>
            <a class="govuk-link--no-visited-state" href="./appeal-case-outcome">Record appeal</a>
      </li>
      </ul>-->
  </div>
<div class="offence-card-actions">
                            <ul class="offence-card-actions-list">
                                <li class="offence-card-action-link"><a href="appeal-case-outcome">Edit</a></li>
                            </ul>
                        </div>
</div>
                 <div class="offence-card sentence-card govuk-grid-column-two-thirds">
  <div class="offence-card-offence-details">
    <div class="gouk-body">Count 2</div>
    <h4 class="govuk-heading-s">Contrary to section 4(3) of and Schedule 4 to the Misuse of Drugs Act 1971 and section 1(1) of the Criminal Law Act 1977</h4>
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Committed on</dt>
        <dd class="govuk-summary-list__value">
            1/08/2025 to 30/09/2025
         </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Conviction date</dt>
        <dd class="govuk-summary-list__value">
         31/01/2026
        </dd>
      </div>
      <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                       Appeal Outcome
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      Appeal dismissed
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Sentence type
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                       SDS (Standard Determinate Sentence)
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                       Sentence length
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                       8 years 0 months 0 weeks 0 days
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                       Consecutive or concurrent
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      Concurrent
                                    </dd>
                                </div>

    
    </dl>
<!--<ul class="govuk-list govuk-!-margin-top-4 govuk-!-margin-bottom-2">
     <li>
            <a class="govuk-link--no-visited-state" href="./appeal-case-outcome">Record appeal</a>
      </li>
      </ul>-->
  </div>
<div class="offence-card-actions">
                            <ul class="offence-card-actions-list">
                                <li class="offence-card-action-link"><a href="appeal-case-outcome">Edit</a></li>
                            </ul>
                        </div>
</div>
<div class="offence-card sentence-card govuk-grid-column-two-thirds">
  <div class="offence-card-offence-details">
    <div class="gouk-body">Count 3</div>
    <h4 class="govuk-heading-s">Contrary to section 5(2) of and Schedule 4 to the Misuse of Drugs Act 1971.</h4>
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Committed on</dt>
        <dd class="govuk-summary-list__value">
          1/08/2025 to 30/09/2025
         </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Conviction date</dt>
        <dd class="govuk-summary-list__value">
          31/01/2026
        </dd>
      </div>
      <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                      Appeal  Outcome
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      Conviction quashed
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Sentence type
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                       SDS (Standard Determinate Sentence)
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                       Sentence length
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                       2 years 0 months 0 weeks 0 days
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                       Consecutive or concurrent
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                      Concurrent
                                    </dd>
                                </div>

    
    </dl>

  
      
      
  </div>
  <div class="offence-card-actions">
                            <ul class="offence-card-actions-list">
                                <li class="offence-card-action-link"><a href="appeal-case-outcome">Edit</a></li>
                            </ul>
                        </div>

</div>
             </div>
              <div class="govuk-inset-text govuk-!-margin-top-2">
                      
                       </div>
          
            <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                Select the outcome of the appeal for this offence
                            </h1>
                       </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="recordappeal-1" name="recordappeal"
                                    type="radio" value="yes">
                                <label class="govuk-label govuk-radios__label" for="recordappeal-1">
                                   Yes, I’ve finished
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="record-appeal-2" name="recordappeal"
                                    type="radio" value="no">
                                <label class="govuk-label govuk-radios__label" for="recordappeal-2">
                                    No, I’ll come back to it later
                                </label>
                            </div>
                        
                        
                          
                       
                        </div>
                    </fieldset>
                </div>
          
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>
        </form>
        </div>  
    
    <div class="govuk-grid-column-one-third">
        {% set showOffences = false %}
        {% include "includes/templates/appearance-info.njk" %}
        
    </div>
</div>
{% endblock %}
