{% extends "./template.html" %}
<!-- {% set backLinkTarget = 'court-case-detail' %} -->
{% set backLinkTarget = '/' + data.prototypeVersion + '/court-cases/appearance-detail' %}
{% set noBackLink = true %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="court-case-detail" method="post">
            <h1 class="govuk-heading-l govuk-!-margin-top-4">Are you sure you want to delete this appearance?</h1>
            <div class="govuk-body-l">{{ data.courtCases[data.courtCaseIndex].appearances[data.appearanceIndex]['court-case-ref'] }} at {{ data.courtCases[data.courtCaseIndex].appearances[data.appearanceIndex]['court-name']}} on {{ data.courtCases[data.courtCaseIndex].appearances[data.appearanceIndex]['warrant-date-day']}}/{{ data.courtCases[data.courtCaseIndex].appearances[data.appearanceIndex]['warrant-date-month']}}/{{ data.courtCases[data.courtCaseIndex].appearances[data.appearanceIndex]['warrant-date-year']}}</div>
            {% if data.courtCases[data.courtCaseIndex].appearances.length < 2 %} 
           <div class="govuk-inset-text">By deleting this appearance, you will be removing the court case from this person’s record.</div>
           {% endif %}
            <div class="govuk-button-group">
                <button class="govuk-button govuk-button--warning govuk-!-margin-top-4" data-module="govuk-button">
                    Yes, delete appearance
                </button>
                <a class="govuk-link" href="#">Cancel and go back</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}