{% extends "../template.html" %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        {% if data.route == "remand-to-sentence" %}
        <form class="form" action="../add-a-court-appearance/add-sentence-information?edit=false" method="post">
        {% else %}
        <form class="form" action="check-answers?edit=false" method="post">
            {% endif %}
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            {% if data.route == "remand-to-sentence" %}
                            <span class="govuk-caption-l">Add an appearance</span>
                            {% else %}
                            <span class="govuk-caption-l">Add sentences to a court case</span>
                            {% endif %}
                            Edit sentence details
                        </h1>
                    </legend>
                                                   <div class="offence-card sentence-card offence-card-edit">
                <div class="offence-card-offence-details">
                    <span class="govuk-body-s">Count {{ sentence['count-number'] }}
                                    </span>
                                    <a class="govuk-link govuk-!-text-align-right" href="offence-date?postSaveEdit=true">Edit<span class="govuk-visually-hidden"> date offence committed on</span></a>
                    <h4 class="govuk-heading-s">{{ sentence['offence-name'] }}
                        {% if sentence['terror-related'] == 'Yes' %}
                        <br><strong class="govuk-tag govuk-!-margin-top-2">
                            Terror-related
                        </strong>
                        {% endif %}</h4>
                    <dl class="govuk-summary-list govuk-summary-list--no-border">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Commited on
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ sentence['offence-start-date-day'] }}/{{ sentence['offence-start-date-month'] }}/{{ sentence['offence-start-date-year'] }}
                                {% if sentence['offence-end-date-day'] > 0 %}
                                to
                                {{ sentence['offence-end-date-day'] }}/{{ sentence['offence-end-date-month'] }}/{{ sentence['offence-end-date-year'] }}
                                {% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="offence-date?postSaveEdit=true">Edit<span class="govuk-visually-hidden"> date offence committed on</span></a>
                                    </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Sentence type
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ sentence['sentence-type'] }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="offence-date?postSaveEdit=true">Edit<span class="govuk-visually-hidden"> date offence committed on</span></a>
                                    </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Sentence length
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {% if sentence['sentence-length-years'] %}
                                {{ sentence['sentence-length-years'] }} years
                                {% else %}
                                0 years
                                {% endif %}
                                {% if sentence['sentence-length-months'] %}
                                {{ sentence['sentence-length-months'] }} months
                                {% else %}
                                0 months
                                {% endif %}
                                {% if sentence['sentence-length-weeks'] %}
                                {{ sentence['sentence-length-weeks'] }} weeks
                                {% else %}
                                0 weeks
                                {% endif %}
                                {% if sentence['sentence-length-days'] %}
                                {{ sentence['sentence-length-days'] }} days
                                {% else %}
                                0 days
                                {% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="offence-date?postSaveEdit=true">Edit<span class="govuk-visually-hidden"> date offence committed on</span></a>
                                    </dd>
                        </div>
                        {% if sentence['licence-period-years'] %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Licence period
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ sentence['licence-period-years'] }} years {{ sentence['licence-period-months'] }} months {{ sentence['licence-period-weeks'] }} weeks {{ sentence['licence-period-days'] }} days
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="offence-date?postSaveEdit=true">Edit<span class="govuk-visually-hidden"> date offence committed on</span></a>
                                    </dd>
                        </div>
                        {% endif %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Consecutive or concurrent
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ sentence['consecutive-concurrent'] }}
                                {% if sentence['forthwith'] == 'Yes' %}
                                (forthwith)
                                {% endif %}
                                {% if sentence['consecutive-concurrent'] == 'Consecutive' %}
                                to count {{ sentence['consecutive-to'] }}
                                {% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="offence-date?postSaveEdit=true">Edit<span class="govuk-visually-hidden"> date offence committed on</span></a>
                                    </dd>
                    </dl>
                </div>
            </div>
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">
                Accept changes
            </button>
        </form>
    </div>
</div>
{% endblock %}