{% extends "../template.html" %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        {% if data['sentence']['terror-related'] == "Yes" %}
        <form class="form" action="sentence-type" method="post">
            {% else %}
            <form class="form" action="terror-related" method="post">
                {% endif %}
                <div class="moj-interruption-card">
                    <div class="moj-interruption-card__content">
                      <h1 class="govuk-heading-l moj-interruption-card__heading">You have entered an inactive offence</h1>
                      <div class="govuk-body moj-interruption-card__body">
                        <p class="govuk-body">The offence <strong>{{ data['sentence']['offence-code'] }} {{ data['sentence']['offence-name'] }}</strong> was made inactive on <strong>31/08/2007</strong>.</p>
                        <p class="govuk-body">Selecting this offence could impact your release dates calcuation.</p>
                    <p class="govuk-body">You can go back and change the offence, or you can continue with the inactive offence.</p>
                    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-6">Do you want to continue?</p>
                      </div>
                      <div class="govuk-button-group moj-interruption-card__actions">
                        <button type="submit" class="govuk-button govuk-button--inverse" data-module="govuk-button">
                          Yes, continue
                      </button>
                        <a class="govuk-link govuk-link--inverse" href="offence-code">Go back and change the offence</a>
                      </div>
                    </div>
                  </div>
                <!-- <div class="govuk-form-group">
                    <h1 class="govuk-heading-l">
                        <span class="govuk-caption-l">Add offences</span>
                        You have entered an inactive offence
                    </h1>
                    <p class="govuk-body">The offence <strong>{{ data['sentence']['offence-code'] }} {{ data['sentence']['offence-name'] }}</strong> was made inactive on <strong>31/08/2007</strong>.</p>
                
                    <p class="govuk-body">Selecting this offence could impact your release dates calcuation.</p>
                    <fieldset class="govuk-fieldset govuk-!-margin-top-6"></fieldset>
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                          <h1 class="govuk-fieldset__heading">
                            Do you want to continue with this offence?
                          </h1>
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="sentence-length-mismatch" name="appearance[sentence-length-mismatch]" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="sentence-length-mismatch">
                                Yes, continue with this inactive offence    
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="sentence-length-mismatch-2" name="appearance[sentence-length-mismatch]" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="sentence-length-mismatch-2">
                                No, go back and change the offence
                            </label>
                          </div>
                        </div>
                      </fieldset>
                </div> 
                <input type="hidden" name="sentence[offence-name]" value="{{ data.sentence['offence-name']}}" />
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                </div>
            </form>-->
    </div>
</div>
{% endblock %}