{% extends "../template.html" %}
{% block content %}
<!-- Back link -->
<a href="type-of-case" class="govuk-back-link govuk-!-margin-top-0">Back</a>
<!-- What is the confirmed date -->
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="check-answers-1" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">Add a court case</span>
                            How many days tagged bail?
                        </h1>
                    </legend>
                    <label class="govuk-label" for="tagged-bail">
                        Number of days
                    </label>
                    <input class="govuk-input govuk-input--width-3" id="tagged-bail" name="appearance[tagged-bail]" type="text">
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>
{% endblock %}