{% extends "../template-no-nav.html" %}
{% block content %}
<!-- What is the confirmed date -->
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
            
            <div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title govuk-!-font-size-36">
    Court case {{ data.courtCaseIndex | int + 1 }} successfully added
  </h1>
</div>
         <p class="govuk-body govuk-!-margin-top-6"><a href="../">Back to Court cases</a></p>

    </div>
</div>
{% endblock %}