{% extends "./template.html" %}
{% set courtCasesActive = true %}
{% block content %}
<!-- Court cases -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-l">
            Court cases
        </h2>
    </div>
    <!-- </div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="action-list">
        <div class="action-button">
            <a href="" class="govuk-link--no-visited-state">Add court case</a>
        </div>
                <div class="action-button">
            <a href="" class="govuk-link--no-visited-state">Record appeal</a>
        </div>
                        <div class="action-button">
            <a href="" class="govuk-link--no-visited-state">Action 3</a>
        </div>
        </div>
                <div class="govuk-button-group govuk-!-margin-bottom-6 govuk-!-margin-top-2">
            <button class="govuk-button" data-module="govuk-button">
                Add court case
            </button>
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Secondary button
            </button>
                        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Secondary button
            </button>
        </div>
    </div> --->
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <!-- Court case 1 -->
        <div class="govuk-grid-column-full-width">
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Court case: T20220904</h2>
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action govuk-body"> <a class="govuk-link" href="#">
                                Update
                            </a>
                        </li>
                        <li class="govuk-summary-card__action govuk-body"> <a class="govuk-link dwf-text-colour-red" href="#">
                                Delete
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Court date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                4 September 2022
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Court name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Sheffield Crown Court
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Outcome
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Imprisonment
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Court documents
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <a href="" class="govuk-link--no-visited-state"><svg class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 20" width="20" height="16">
                                        <path d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z"></path>
                                    </svg> Custodial warrant</a>
                                <br>
                                <a href="" class="govuk-link--no-visited-state"><svg class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 20" width="20" height="16">
                                        <path d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z"></path>
                                    </svg> Trial record sheet</a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Sentences
                            </dt>
                            <dd class="govuk-summary-list__value">
                                1  <a href="" class="govuk-!-margin-left-2">View sentences</a>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
        <!-- Court case 2 -->
        <div class="govuk-grid-column-full-width">
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Court case: T20210217</h2>
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action govuk-body"> <a class="govuk-link" href="#">
                                Update
                            </a>
                        </li>
                        <li class="govuk-summary-card__action govuk-body"> <a class="govuk-link dwf-text-colour-red" href="#">
                                Delete
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Court date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                17 February 2021
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Court name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Leeds Crown Court
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Outcome
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Imprisonment
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Court documents
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <a href="" class="govuk-link--no-visited-state"><svg class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 20" width="20" height="16">
                                        <path d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z"></path>
                                    </svg> Custodial warrant</a>
                                <br>
                                <a href="" class="govuk-link--no-visited-state"><svg class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 20" width="20" height="16">
                                        <path d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z"></path>
                                    </svg> Trial record sheet</a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Sentences
                            </dt>
                            <dd class="govuk-summary-list__value">
                                5 <a href="" class="govuk-!-margin-left-2">View sentences</a>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
        <!-- Court case 3 -->
        <div class="govuk-grid-column-full-width">
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">Court case: T2021010</h2>
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action govuk-body"> <a class="govuk-link" href="#">
                                Update
                            </a>
                        </li>
                        <li class="govuk-summary-card__action govuk-body"> <a class="govuk-link dwf-text-colour-red" href="#">
                                Delete
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Court date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                10 February 2021
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Court name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Leeds Crown Court
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Outcome
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Remand in custody (bail refused)
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Sentences
                            </dt>
                            <dd class="govuk-summary-list__value">
                                1
                            </dd>
                        </div>
                    </dl>
                    <ul class="govuk-list govuk-!-margin-top-2 govuk-!-margin-bottom-0">
                        <li><a href="">View sentences</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="actions">
            <h3 class="govuk-heading-m">Actions</h3>
            <ul class="govuk-list">
                <li><a href="" class="govuk-link--no-visited-state">Add court case</a></li>
                <li><a href="" class="govuk-link--no-visited-state">Action 2</a></li>
                <li><a href="" class="govuk-link--no-visited-state">Action 3</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}