{% extends "./template.html" %}
{% set overviewActive = true %}
{% block content %}
<!-- Overview -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-grid-row">
        </div>
        <h2 class="govuk-heading-l">
            Overview
        </h2>
                    <section aria-label="Status List">
                <ul class="hmpps-status-list">
                    <li>
                        <p>On remand</p>
                    </li>
<!--                     <li>
                        <p>Recognised Listener</p>
                    </li> -->
                </ul>
            </section>
        <p class="govuk-body">Overview information will go here.</p>
    </div>
</div>
</div>
{% endblock %}