{% extends "../template.html" %}
{% set noBackLink = true %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="/{{data.prototypeVersion}}/overall-case-outcome?route=appearance" method="post">
      <div class="govuk-form-group"> 
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              <span class="govuk-caption-l">Add a hearing</span>
              Select the overall case outcome
            </h1>
          </legend> 
          <div class="govuk-radios" data-module="govuk-radios">
              <h2 class="govuk-heading-m">
              Remand
            </h2>
       <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="overall-case-outcome" name="appearance[overall-case-outcome]" type="radio" value="Commit to Crown Court for trial in custody" {% if data.appearance[overall-case-outcome] == 'Commit to Crown Court for trial in custody' %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="overall-case-outcome">
                Commit to Crown Court for trial in custody
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="overall-case-outcome" name="appearance[overall-case-outcome]" type="radio" value="Send to Crown Court for trial" {% if data.appearance[overall-case-outcome] == 'Send to Crown Court for trial' %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="overall-case-outcome">
                Send to Crown Court for trial
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="overall-case-outcome" name="appearance[overall-case-outcome]" type="radio" value="Remand in custody" {% if data.appearance[overall-case-outcome] == 'Remand in custody' %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="overall-case-outcome">
                Remand in custody
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="overall-case-outcome" name="appearance[overall-case-outcome]" type="radio" value="Convicted awaiting sentence" {% if data.appearance[overall-case-outcome] == 'Convicted awaiting sentence' %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="overall-case-outcome">
                Convicted awaiting sentence
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="overall-case-outcome" name="appearance[overall-case-outcome]" type="radio" value="Guilty" {% if data.appearance[overall-case-outcome] == 'Guilty' %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="overall-case-outcome">
                Guilty
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="overall-case-outcome" name="appearance[overall-case-outcome]" type="radio" value="Commit to Crown Court for sentence in custody" {% if data.appearance[overall-case-outcome] == 'Commit to Crown Court for sentence in custody' %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="overall-case-outcome">
                Commit to Crown Court for sentence in custody
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="overall-case-outcome" name="appearance[overall-case-outcome]" type="radio" value="Commit to Crown Court for sentence" {% if data.appearance[overall-case-outcome] == 'Commit to Crown Court for sentence' %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="overall-case-outcome">
                Commit to Crown Court for sentence
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="overall-case-outcome" name="appearance[overall-case-outcome]" type="radio" value="Remittal for sentence in custody" {% if data.appearance[overall-case-outcome] == 'Remittal for sentence in custody' %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="overall-case-outcome">
                Remittal for sentence in custody
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="overall-case-outcome" name="appearance[overall-case-outcome]" type="radio" value="Remittal for trial in custody" {% if data.appearance[overall-case-outcome] == 'Remittal for trial in custody' %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="overall-case-outcome">
                Remittal for trial in custody
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="overall-case-outcome" name="appearance[overall-case-outcome]" type="radio" value="Adjourned" {% if data.appearance[overall-case-outcome] == 'Adjourned' %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="overall-case-outcome">
                Adjourned
              </label>
            </div> 
              <h2 class="govuk-heading-m">
              Non-custodial
            </h2>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="overall-case-outcome" name="appearance[overall-case-outcome]" type="radio" value="Suspended imprisonment" {% if data.appearance[overall-case-outcome] == 'Suspended imprisonment' %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="overall-case-outcome">
                Suspended imprisonment
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="overall-case-outcome" name="appearance[overall-case-outcome]" type="radio" value="Life on file" {% if data.appearance[overall-case-outcome] == 'Life on file' %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="overall-case-outcome">
                Life on file
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="overall-case-outcome" name="appearance[overall-case-outcome]" type="radio" value="Not guilty" {% if data.appearance[overall-case-outcome] == 'Not guilty' %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="overall-case-outcome">
                Not guilty
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="overall-case-outcome" name="appearance[overall-case-outcome]" type="radio" value="No separate penalty" {% if data.appearance[overall-case-outcome] == 'No separate penalty' %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="overall-case-outcome">
                No separate penalty
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="overall-case-outcome" name="appearance[overall-case-outcome]" type="radio" value="Dismissed" {% if data.appearance[overall-case-outcome] == 'Dismissed' %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="overall-case-outcome">
                Dismissed
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="overall-case-outcome" name="appearance[overall-case-outcome]" type="radio" value="No evidence offered - dismissed" {% if data.appearance[overall-case-outcome] == 'No evidence offered - dismissed' %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="overall-case-outcome">
                No evidence offered - dismissed
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="overall-case-outcome" name="appearance[overall-case-outcome]" type="radio" value="Discharged" {% if data.appearance[overall-case-outcome] == 'Discharged' %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="overall-case-outcome">
                Discharged
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="overall-case-outcome" name="appearance[overall-case-outcome]" type="radio" value="Discontinuance" {% if data.appearance[overall-case-outcome] == 'Discontinuance' %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="overall-case-outcome">
                Discontinuance
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="overall-case-outcome" name="appearance[overall-case-outcome]" type="radio" value="Withdrawn final" {% if data.appearance[overall-case-outcome] == 'Withdrawn final' %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="overall-case-outcome">
                Withdrawn final
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="overall-case-outcome" name="appearance[overall-case-outcome]" type="radio" value="Withdrawn" {% if data.appearance[overall-case-outcome] == 'Withdrawn' %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="overall-case-outcome">
                Withdrawn
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="overall-case-outcome" name="appearance[overall-case-outcome]" type="radio" value="Proceedings stayed" {% if data.appearance[overall-case-outcome] == 'Proceedings stayed' %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="overall-case-outcome">
                Proceedings stayed
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="overall-case-outcome" name="appearance[overall-case-outcome]" type="radio" value="Fine" {% if data.appearance[overall-case-outcome] == 'Fine' %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="overall-case-outcome">
                Fine
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="overall-case-outcome" name="appearance[overall-case-outcome]" type="radio" value="Community order" {% if data.appearance[overall-case-outcome] == 'Community order' %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="overall-case-outcome">
                Community order
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="overall-case-outcome" name="appearance[overall-case-outcome]" type="radio" value="Bail" {% if data.appearance[overall-case-outcome] == 'Bail' %} checked {% endif %}>
              <label class="govuk-label govuk-radios__label" for="overall-case-outcome">
                Bail
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
