{% extends "./template.html" %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                Edit appearance
            </h1>
        </legend>
{% set consecutiveFromOtherCase = false %}
{% for sentence in data.appearance.sentences %}
  {% if sentence['consecutive-concurrent'].length > 4 %}
    {% set consecutiveFromOtherCase = true %}
  {% endif %}
{% endfor %}
{% if consecutiveFromOtherCase %}
  <div class="govuk-inset-text govuk-!-margin-top-6 govuk-!-margin-bottom-6">
    One or more sentences are consecutive to a sentence on a different case.
If the consecutive status of a sentence is changed, check that any linked cases accurately reflect the correct warrant information.
  </div>
{% endif %}
        <form class="form" action="/{{data.prototypeVersion}}/persist-appearance?route=edit-appearance" method="post">
            <div class="govuk-summary-card govuk-!-margin-top-6">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        Appearance information
                    </h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Case reference
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data.appearance['court-case-ref'] }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state"
                                    href="add-a-court-appearance/court-case-reference-number?postSaveEdit=true">
                                    Edit<span class="govuk-visually-hidden"> case reference</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Warrant date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data.appearance['warrant-date-day'] }}/{{ data.appearance['warrant-date-month'] }}/{{
                                data.appearance['warrant-date-year'] }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state"
                                    href="add-a-court-appearance/warrant-date?postSaveEdit=true">
                                    Edit<span class="govuk-visually-hidden"> warrant date</span>
                                </a>
                            </dd>
                        </div>
                        {% if data.appearance['warrant-type'] == 'Sentencing' %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Conviction date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data.appearance['overall-conviction-date-day'] }}/{{
                                data.appearance['overall-conviction-date-month'] }}/{{
                                data.appearance['overall-conviction-date-year'] }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state"
                                    href="add-a-sentence/overall-conviction-date?postSaveEdit=true">
                                    Edit<span class="govuk-visually-hidden"> conviction date</span>
                                </a>
                            </dd>
                        </div>
                        {% endif %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Location
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data.appearance['court-name'] }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state"
                                    href="add-a-court-appearance/court-name?postSaveEdit=true">
                                    Edit<span class="govuk-visually-hidden"> court name</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Overall case outcome
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data.appearance['overall-case-outcome'] }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state"
                                    href="add-a-court-appearance/overall-case-outcome?postSaveEdit=true">
                                    Edit<span class="govuk-visually-hidden"> overall case outcome</span>
                                </a>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                       Next court appearance
                    </h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        {% if (data.appearance['next-court-date-set'] != 'Yes') %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Next hearing set
                            </dt>
                            <dd class="govuk-summary-list__value">
                                No future appearance scheduled
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state"
                                    href="add-a-court-appearance/next-court-date-select?postSaveEdit=true">
                                    Edit<span class="govuk-visually-hidden"> next hearing</span>
                                </a>
                            </dd>
                        </div>
                        {% endif %}
                        {% if (data.appearance['next-court-date-set'] == 'Yes') %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Next hearing set
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data.appearance['next-court-date-set']}}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state"
                                    href="add-a-court-appearance/next-court-date-select?postSaveEdit=true">
                                    Edit<span class="govuk-visually-hidden"> next hearing set</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Next hearing date
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{
                                data.courtCases[data.courtCaseIndex].appearances[data.appearanceIndex]['next-court-date-day']
                                }}/{{
                                data.courtCases[data.courtCaseIndex].appearances[data.appearanceIndex]['next-court-date-month']
                                }}/{{
                                data.courtCases[data.courtCaseIndex].appearances[data.appearanceIndex]['next-court-date-year']
                                }} {% if
                                data.courtCases[data.courtCaseIndex].appearances[data.appearanceIndex]['next-court-time']
                                %} at {{
                                data.courtCases[data.courtCaseIndex].appearances[data.appearanceIndex]['next-court-time']
                                }}{% endif %}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state"
                                    href="add-a-court-appearance/next-court-date?postSaveEdit=true">
                                    Edit<span class="govuk-visually-hidden"> next court date</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Next hearing location
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data.appearance['next-court-name'] }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state"
                                    href="add-a-court-appearance/next-court-name?postSaveEdit=true">
                                    Edit<span class="govuk-visually-hidden"> customer reference</span>
                                </a>
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Next hearing type
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ data.appearance['next-hearing-type'] }}
                            </dd>
                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link govuk-link--no-visited-state"
                                    href="add-a-court-appearance/next-hearing-type-select?postSaveEdit=true">
                                    Edit<span class="govuk-visually-hidden"> next hearing type</span>
                                </a>
                            </dd>
                        </div>
                        {% endif %}
                    </dl>
                </div>
            </div>
<div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        Court documents
                    </h2>
                    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link govuk-link--no-visited-state" href="add-court-documents/court-documents-uploaded?postSaveEdit=true">Manage court documents</a>
      </li>
    </ul>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        {% if data.appearance['documents'] %}
                        <div class="govuk-summary-list__row">
                            <dd class="govuk-summary-list__value">
                                <a href="{{ asset_path }}documents/order-of-imprisonment-court-case-2.pdf"
                            class="govuk-link--no-visited-state" target="_blank"><svg
                                class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 16 20" width="20" height="16">
                                <path
                                    d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z">
                                </path>
                            </svg>{% if data.appearance['warrant-type'] == "Remand" %}Remand warrant{% else %}Sentencing
                            warrant{% endif %}</a>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dd class="govuk-summary-list__value">
                                <a href="{{ asset_path }}documents/order-of-imprisonment-court-case-2.pdf"
                            class="govuk-link--no-visited-state" target="_blank"><svg
                                class="moj-timeline__document-icon" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 16 20" width="20" height="16">
                                <path
                                    d="M9 7V1.5L14.5 7H9zM2 0C.9 0 0 .9 0 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V6l-6-6H2z">
                                </path>
                            </svg>Prison court register</a>
                            </dd>
                        </div>
                        {% else %}
                         <div class="govuk-summary-list__row">
                            <dd class="govuk-summary-list__value">
                                There are no documents for this appearance.
                            </dd>
                        </div>
                        {% endif %}
                    </dl>
                </div>
            </div>
            <h2 class="govuk-heading-m govuk-!-margin-top-8">Offences ({% if (data.appearance.offences) and (data.appearance.sentences) %}{{
                data.appearance.offences.length + data.appearance.sentences.length }}{% elif data.appearance.offences
                %}{{ data.appearance.offences.length }}{% elif data.appearance.sentences %}{{
                data.appearance.sentences.length }}{% endif %})</h2>
            {% if data.appearance["warrant-type"] == 'Sentencing' %}
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Overall sentence length
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data.appearance['overall-sentence-length-years']}} years {{
                        data.appearance['overall-sentence-length-months']}} months {{
                        data.appearance['overall-sentence-length-weeks']}} weeks {{
                        data.appearance['overall-sentence-length-days']}} days
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="add-overall-warrant-information/overall-sentence-length?postSaveEdit=true">
                            Edit<span class="govuk-visually-hidden"> overall sentence length</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Total sentences added
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data.appearance['total-sentence-length-years']}} years {{
                        data.appearance['total-sentence-length-months']}} months {{
                        data.appearance['total-sentence-length-weeks']}} weeks {{
                        data.appearance['total-sentence-length-days']}} days
                    </dd>
                </div>
            </dl>
            {% endif %}
            <a href="/{{data.prototypeVersion}}/create-offence?route=edit-appearance" role="button" draggable="false"
                class="govuk-button govuk-button--link govuk-!-margin-top-2 {% if data.appearance['warrant-type'] == 'Sentencing' %}govuk-!-margin-bottom-7{% else %}govuk-!-margin-bottom-5{% endif %}"
                data-module="govuk-button">
                Add an offence
            </a>
            {% if data.appearance['warrant-type'] == "Sentencing" %}
            <h3 class="govuk-heading-s ">Offences with custodial outcomes</h3>
            
            {% set no_matches = true %}
            {% for sentence in data.appearance.sentences %}

            {% set no_matches = false %}
            <div class="offence-card sentence-card">
                <div class="offence-card-offence-details">
                    {% if sentence['count-number'] %}
                    <span class="govuk-body">Count {{ sentence['count-number'] }}</span>
                    {% endif %}
                    <h4 class="govuk-heading-s">{{ sentence['offence-name'] }}
                        {% if sentence['terror-related'] == 'Yes' %}
                        <br><strong class="govuk-tag govuk-!-margin-top-2">
                            Terror-related
                        </strong>
                        {% endif %}
                    </h4>
                    <dl class="govuk-summary-list govuk-summary-list--no-border">
                        {% if sentence['offence-start-date-day'] %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Commited on
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ sentence['offence-start-date-day'] }}/{{ sentence['offence-start-date-month'] }}/{{
                                sentence['offence-start-date-year'] }}
                                {% if sentence['offence-end-date-day'] > 0 %}
                                to
                                {{ sentence['offence-end-date-day'] }}/{{ sentence['offence-end-date-month'] }}/{{
                                sentence['offence-end-date-year'] }}
                                {% endif %}
                            </dd>
                        </div>
                        {% endif %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Outcome
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ sentence['outcome'] }}
                            </dd>
                        </div>
                        {% if sentence['sentence-type'] %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Sentence type
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ sentence['sentence-type'] }}
                            </dd>
                        </div>
                        {% endif %}
                        {% if sentence['sentence-length-years'] %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Sentence length
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ sentence['sentence-length-years'] }} years {{ sentence['sentence-length-months'] }}
                                months {{ sentence['sentence-length-weeks'] }} weeks {{ sentence['sentence-length-days']
                                }} days
                            </dd>
                        </div>
                        {% endif %}
                        {% if sentence['licence-period-years'] %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Licence period
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ sentence['licence-period-years'] }} years {{ sentence['licence-period-months'] }}
                                months {{ sentence['licence-period-weeks'] }} weeks {{ sentence['licence-period-days']
                                }} days
                            </dd>
                        </div>
                        {% endif %}
                        {% if sentence['consecutive-concurrent'] %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Consecutive or concurrent
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ sentence['consecutive-concurrent'] }}
                                {% if sentence['forthwith'] == 'Yes' %}
                                (forthwith)
                                {% endif %}
                                {% if sentence['consecutive-concurrent'] == 'Consecutive' %}
                                to count {{ sentence['consecutive-to'] }}
                                {% endif %}
                            </dd>
                        </div>
                        {% endif %}
                        {% if sentence["merged-from"] %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Merged from
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ sentence['merged-from'] }}
                            </dd>
                        </div>
                        {% endif %}
                    </dl>
                    {% if sentence['status'] == 'draft' %}
                    <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-2"><a
                            href="{{ data.savedURL }}">Continue adding sentence information</a></p>
                    {% endif %}
                </div>
                <div class="offence-card-actions">
                    <ul class="offence-card-actions-list">
                        <li class="offence-card-action-link"><a
                                href="/{{data.prototypeVersion}}/update-sentence?index={{loop.index0}}&route=remand-to-sentence">Edit</a>
                        </li>
                        <li class="offence-card-action-link"><a
                                href="/{{data.prototypeVersion}}/confirm-delete?index={{loop.index0}}&route=add-a-court-case">Delete</a>
                        </li>
                    </ul>
                </div>
            </div>
            {% endfor %}
            {% if no_matches %}
            <div class="govuk-inset-text govuk-!-margin-top-2">
                There are no offences with non-custodial outcomes.
            </div>
            {% endif %}
            {% endif %}
            {% if data.appearance['warrant-type'] == "Sentencing" %}
            <h3 class="govuk-heading-s govuk-!-margin-top-7">Offences with non-custodial outcomes</h3>
            {% endif %}
            {% set no_matches2 = true %}
            {% for offence in data.appearance.offences %}
            {% set no_matches2 = false %}
            <div class="offence-card">
                <div class="offence-card-offence-details">
                    <h4 class="govuk-heading-s">{{ offence['offence-name'] }}</h4>
                    <dl class="govuk-summary-list govuk-summary-list--no-border">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Commited on
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ offence['offence-start-date-day'] }}/{{ offence['offence-start-date-month'] }}/{{
                                offence['offence-start-date-year'] }}
                                {% if offence['offence-end-date-day'] > 0 %}
                                to
                                {{ offence['offence-end-date-day'] }}/{{ offence['offence-end-date-month'] }}/{{
                                offence['offence-end-date-year'] }}
                                {% endif %}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key offence-card-offence-details-key">
                                Outcome
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ offence['outcome'] }}{{ sentence['outcome'] }}
                            </dd>
                        </div>
                        {% if offence["merged-from"] %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Merged from
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ offence['merged-from'] }}
                            </dd>
                        </div>
                        {% endif %}
                    </dl>
                </div>
                <div class="offence-card-actions">
                    <ul class="offence-card-actions-list">
                        <li class="offence-card-action-link"><a
                                href="/{{data.prototypeVersion}}/update-offence?index={{loop.index0}}&route=remand-to-sentence">Edit</a>
                        </li>
                        <li class="offence-card-action-link"><a
                                href="/{{data.prototypeVersion}}/confirm-delete?index={{loop.index0}}&">Delete</a></li>
                    </ul>
                </div>
            </div>
            {% endfor %}
            {% if no_matches2 %}
            <div class="govuk-inset-text govuk-!-margin-top-2">
                There are no offences with non-custodial outcomes.
            </div>
            {% endif %}
            <div class="govuk-button-group govuk-!-margin-top-8">
                {% if data.addCountNumbersOtherSentence == true %}
                <button class="govuk-button" data-module="govuk-button">
                    Finish adding count numbers
                </button>
                {% else %}
                <button class="govuk-button" data-module="govuk-button">
                    Confirm changes
                </button>
                {% endif %}
                <a href="court-case-detail" class="govuk-link govuk-body govuk-link--no-visited-state">Cancel changes</a>
            </div>
        </form>
    </div>
    <div class="govuk-grid-column-one-third">
        <!-- {% set showOffences = false %}
        {% include "includes/templates/appearance-info.njk" %} -->
    </div>
</div>
{% endblock %}