{% extends "../template.html" %}
{% block content %}
<!-- Back link -->
<a href="offence-code" class="govuk-back-link govuk-!-margin-top-0">Back</a>
<!-- What is the confirmed date -->
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="outcome" method="post">
            <div class="govuk-form-group">
                <h1 class="govuk-heading-l">
                    <span class="govuk-caption-l">Add an offence to court case {{ data['court-case-ref'] }}</span>
                    Confirm the offence
                </h1>
                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key dwf-confirm-offence-key">
                            Offence code
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ data['offence']['offence-code'] }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key dwf-confirm-offence-key">
                            Offence
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Kidnap
                        </dd>
                    </div>
                </dl>
            </div>
            <input type="hidden" name="offence[offence-name]" value="Kidnap" />
            <button class="govuk-button" data-module="govuk-button">
                Confirm and continue
            </button>
            <p class="govuk-body"><a href="offence-code">Enter a different offence code</a></p>
            <p class="govuk-body"><a href="offence-code">Look up an offence by name</a></p>
        </form>
    </div>
</div>
{% endblock %}