{% extends "../template.html" %}
{% block content %}
<!-- What is the confirmed date -->
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="merged-cases" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">Add offences</span>
                            Is the outcome the same for all offences on the warrant?
                        </h1>
                    </legend>
                    <p class="govuk-body-l">{{ data.appearance['overall-case-outcome'] }}</p>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overall-case-outcome-apply-all"
                                name="appearance[overall-case-outcome-apply-all]" value="Yes" type="radio"
                                data-aria-controls="conditional-overall-case-outcome-apply-all" {% if
                                data.appearance['overall-case-outcome-apply-all'] %}{% if
                                data.appearance['overall-case-outcome-apply-all'].includes('Yes') %}checked{% endif
                                %}{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="overall-case-outcome-apply-all">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overall-case-outcome-apply-all-2"
                                name="appearance[overall-case-outcome-apply-all]" type="radio" value="No" {% if
                                data.appearance['overall-case-outcome-apply-all'] %}{% if
                                data.appearance['overall-case-outcome-apply-all'].includes('No') %}checked{% endif
                                %}{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="overall-case-outcome-apply-all-2">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button"
                    formaction="/{{data.prototypeVersion}}/save-court-case" method="post">
                    Save as a draft
                </button>
            </div>
        </form>
    </div>
    <div class="govuk-grid-column-one-third">
        {% set showOffences = false %}
        {% include "includes/templates/appearance-info.njk" %}
    </div>
</div>
{% endblock %}