.actions-list {
  border: 1px solid #b1b4b6;
  display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 0px !important;
}

.actions-list-header {
  padding: 10px;
}

.actions-list-list {
  border-bottom: 0px;
  width: 100%;
  margin-bottom: 0px;
}

.actions-list-list li {
  padding: 15px 15px 15px 10px;
  margin-bottom: 0px;
  border-bottom: 1px solid #b1b4b6;
  width: 100%;
  display: block;
}

.actions-list-list li:hover {
  background-color: #f3f2f1;
  cursor: pointer;
}

.actions-list-list li:last-of-type {
  border-bottom: none;
  width: 100%;
}