.actions-list {
  border: 1px solid #b1b4b6;
  display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 15px 20px;
}

.actions-list ul li {
  
}
