{% extends "../template.html" %}
{% block content %}
{% set lastAppearance = data.courtCase.appearances | last %}
<div class="govuk-grid-row govuk-!-margin-top-4">    
{% set err = data.addSentenceInformationError %}
{% if err %}
<div class="govuk-grid-column-full">
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#offences-section"> {{ err.message }} ({{ err.count }})</a>
        </li>
      </ul>
    </div>
  </div>
  </div>
{% endif %}
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/{{data.prototypeVersion}}/add-sentence-information-complete" method="post">
            <h1 class="govuk-heading-l">
                {% if data.appearance['warrant-type'] == "Sentencing" %}
                Update offence outcomes
                {% else %}
                Review offences
                {% endif %}
            </h1>
            {% if lastAppearance['merged-from-case']  %} 
            <div class="govuk-inset-text govuk-!-margin-bottom-6">This appearance includes offences from case {{ lastAppearance['merged-from-case'] }} that were merged with this case on {{ lastAppearance['merged-from-case-date'] }}</div>
             {% endif %}
            <div class="govuk-!-margin-top-6">
                {% if (data.appearance.offences | length) < 1 %} <p class="govuk-body">There are no offences to show.</p>
                    {% endif %}
                {% if data.appearance['warrant-type'] == "Sentencing" %}
                    <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-top-4">
            <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-2">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key" style="width: 50%;">
                        Overall sentence length
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['appearance']['overall-sentence-length-years'] }} years {{ data['appearance']['overall-sentence-length-months'] }} months {{ data['appearance']['overall-sentence-length-weeks'] }} weeks {{ data['appearance']['overall-sentence-length-days'] }} days
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Sentences added
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['appearance']['total-sentence-length-years'] }} years {{data['appearance']['total-sentence-length-months']}} months {{data['appearance']['total-sentence-length-weeks']}} weeks {{data['appearance']['total-sentence-length-days']}} days
                    </dd>
                </div>
            </dl>
                    </dl>
                    {% endif %}
                    <button class="govuk-button govuk-button--link govuk-!-margin-bottom-2" data-module="govuk-button" formaction="/{{data.prototypeVersion}}/create-sentence?route=remand-to-sentence&path=rts-new-offence&edit=false" method="post">
                        Add an offence
                    </button>
                    {% set offenceCount = 0 %}
                        {% for offence in data.appearance.offences %}
                            {% if (offence.sentence['sentence-type'] == null) and (offence['outcome-changed'] != 'true') %}
                            {% set offenceCount = offenceCount + 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if data.appearance['warrant-type'] == "Sentencing" %}<h2 id="offences-section" class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-6">Offences with outcomes that need updating ({{ offenceCount }})</h2>{% endif %}
                    {% set no_match3 = true %}
                    {% for offence in data.appearance.offences %}
                    {% if (offence.sentence['sentence-type'] == null) and (offence['outcome-changed'] != 'true') %}
                    {% set no_match3 = false %}
                    {% set needsUpdate = (offence.sentence['sentence-type'] == null) and (offence['outcome-changed'] != 'true') %}

{% if err and needsUpdate %}
  <div class="govuk-form-group govuk-form-group--error" id="offence-{{ loop.index0 }}-error">
    <p class="govuk-error-message govuk-!-margin-bottom-2">
      <span class="govuk-visually-hidden">Error:</span>
      Update the offence outcome
    </p>
{% endif %}

<div class="offence-card">
  <div class="offence-card-offence-details">
    <h4 class="govuk-heading-s">{{ offence['offence-name'] }}</h4>
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Committed on</dt>
        <dd class="govuk-summary-list__value">
          {{ offence['offence-start-date-day'] }}/{{ offence['offence-start-date-month'] }}/{{ offence['offence-start-date-year'] }}
          {% if offence['offence-end-date-day'] > 0 %}
            to {{ offence['offence-end-date-day'] }}/{{ offence['offence-end-date-month'] }}/{{ offence['offence-end-date-year'] }}
          {% endif %}
        </dd>
      </div>

      {% if offence["merged-from"] %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Merged from</dt>
        <dd class="govuk-summary-list__value">{{ offence['merged-from'] }}</dd>
      </div>
      {% endif %}
    </dl>

    {% if offence['outcome-changed'] != 'true' %}
      <ul class="govuk-list govuk-!-margin-top-4 govuk-!-margin-bottom-2">
        <li>
          {% if offence['status'] == 'draft' %}
            <a class="govuk-link--no-visited-state" href="{{ data.savedURL }}{% if '?' in data.savedURL %}&{% else %}?{% endif %}clearError=true">Continue updating outcome</a>
          {% else %}
            <a class="govuk-link--no-visited-state" href="/{{data.prototypeVersion}}/update-outcome?index={{loop.index0}}&edit=false&clearError=true">Update outcome</a>
          {% endif %}
        </li>
      </ul>
    {% endif %}
  </div>

  <div class="offence-card-actions">
    <ul class="offence-card-actions-list">
      <li class="offence-card-action-link">
        <a href="/{{data.prototypeVersion}}/update-offence?index={{loop.index0}}&route=remand-to-sentence">Edit</a>
      </li>
    </ul>
  </div>
</div>

{% if err and needsUpdate %}
  </div>
{% endif %}
                    {% endif %}
                    {% endfor %}
                    {% if no_match3 %}
                    {% if data.appearance['warrant-type'] == "Sentencing" %}
                    <div class="govuk-inset-text govuk-!-margin-top-2">
                        There are no offences with outcomes that need updating
                    </div>
                    {% else %}
                    <div class="govuk-inset-text govuk-!-margin-top-6">
                        There are no offences with outcomes that have not been updated
                    </div>
                    {% endif %}
                    {% endif %}
                    
                                {% set updatedCount = (data.appearance.sentences | length) %}
            {% for offence in data.appearance.offences %}
              {% if (offence.sentence['sentence-type'] == null) and (offence['outcome-changed'] == 'true') %}
                {% set updatedCount = updatedCount + 1 %}
              {% endif %}
            {% endfor %}

            <hr class="govuk-section-break govuk-section-break--l govuk-!-margin-top-8 govuk-section-break--visible">
            <h2 class="govuk-heading-m govuk-!-margin-top-7">Offences with updated outcomes ({{ updatedCount }})</h2>

{% if data.appearance['warrant-type'] == "Sentencing" %}
                    <h3 class="govuk-heading-s ">Offences with custodial outcomes</h3>
                    {% set no_matches = (data.appearance.sentences | length) == 0 %}
                    {% for sentence in data.appearance.sentences %}
                    <div class="offence-card sentence-card">
                        <div class="offence-card-offence-details">
                            {% if sentence['count-number'] %}
                            <span class="govuk-body">Count {{ sentence['count-number'] }}</span>
                            {% endif %}
                            <h4 class="govuk-heading-s">{{ sentence['offence-name'] }}
                                {% if sentence['terror-related'] == 'Yes' %}
                                <br><strong class="govuk-tag govuk-!-margin-top-2">
                                    Terror-related
                                </strong>
                                {% endif %}</h4>
                            <dl class="govuk-summary-list govuk-summary-list--no-border">
                                {% if sentence['offence-start-date-day'] %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Committed on
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ sentence['offence-start-date-day'] }}/{{ sentence['offence-start-date-month'] }}/{{ sentence['offence-start-date-year'] }}
                                        {% if sentence['offence-end-date-day'] > 0 %}
                                        to
                                        {{ sentence['offence-end-date-day'] }}/{{ sentence['offence-end-date-month'] }}/{{ sentence['offence-end-date-year'] }}
                                        {% endif %}
                                    </dd>
                                </div>
                                {% endif %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Outcome
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ sentence['outcome'] }}
                                    </dd>
                                </div>
                                {% if sentence['sentence-type'] %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Sentence type
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ sentence['sentence-type'] }}
                                    </dd>
                                </div>
                                {% endif %}
                                {% if sentence['sentence-length-years'] %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Sentence length
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ sentence['sentence-length-years'] }} years {{ sentence['sentence-length-months'] }} months {{ sentence['sentence-length-weeks'] }} weeks {{ sentence['sentence-length-days'] }} days
                                    </dd>
                                </div>
                                {% endif %}
                                {% if sentence['licence-period-years'] %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Licence period
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ sentence['licence-period-years'] }} years {{ sentence['licence-period-months'] }} months {{ sentence['sentence-length-weeks'] }} weeks {{ sentence['sentence-length-days'] }} days
                                    </dd>
                                </div>
                                {% endif %}
                                {% if sentence['consecutive-concurrent'] %}
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Consecutive or concurrent
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ sentence['consecutive-concurrent'] }}
                                        {% if sentence['forthwith'] == 'Yes' %}
                                        (forthwith)
                                        {% endif %}
                                        {% if sentence['consecutive-concurrent'] == 'Consecutive' %}
                                        to count {{ sentence['consecutive-to'] }}
                                        {% endif %}
                                    </dd>
                                </div>
                                {% endif %}
                                {% if sentence["merged-from"] %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Merged from
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {{ sentence['merged-from'] }}
                                </dd>
                            </div>
                            {% endif %}
                            </dl>
                           {% if sentence['status'] == 'draft' %}
                           <p class="govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-2"><a href="{{ data.savedURL }}">Continue adding sentence information</a></p>
                           {% endif %}
                        </div>
                        <div class="offence-card-actions">
                            <ul class="offence-card-actions-list">
                                <li class="offence-card-action-link"><a href="/{{data.prototypeVersion}}/update-sentence?index={{loop.index0}}&route=remand-to-sentence">Edit</a></li>
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                    {% if no_matches %}
                    <div class="govuk-inset-text govuk-!-margin-top-2">
                        There are no offences with custodial outcomes.
                       </div>
                       {% endif %}
                    {% endif %}

                    {% set no_matches2 = true %}
                    {% if data.appearance['warrant-type'] == "Sentencing" %}<h3 class="govuk-heading-s govuk-!-margin-top-7">Offences with non-custodial outcomes</h3>{% endif %}
                    {% for offence in data.appearance.offences %}
                    {% if (offence.sentence['sentence-type'] == null) and (offence['outcome-changed'] == 'true') %}
                    {% set no_matches2 = false %}
                    <div class="offence-card">
                        <div class="offence-card-offence-details">
                            <h4 class="govuk-heading-s">{{ offence['offence-name'] }}</h4>
                            <dl class="govuk-summary-list govuk-summary-list--no-border">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Committed on
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ offence['offence-start-date-day'] }}/{{ offence['offence-start-date-month'] }}/{{ offence['offence-start-date-year'] }}
                                        {% if offence['offence-end-date-day'] > 0 %}
                                        to
                                        {{ offence['offence-end-date-day'] }}/{{ offence['offence-end-date-month'] }}/{{ offence['offence-end-date-year'] }}
                                        {% endif %}
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key offence-card-offence-details-key">
                                        Outcome
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ offence['outcome'] }}
                                    </dd>
                                </div>
                                {% if offence["merged-from"] %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Merged from
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {{ offence['merged-from'] }}
                                </dd>
                            </div>
                            {% endif %}
                            </dl>
                            {% if offence['outcome-changed'] != 'true' %}
                            <ul class="govuk-list govuk-!-margin-top-4 govuk-!-margin-bottom-2">
                              <li>
                                {% if offence['status'] == 'draft' %}
                                  <a href="{{data.savedURL}}{% if '?' in data.savedURL %}&{% else %}?{% endif %}clearError=true">Continue updating outcome</a>
                                {% else %}
                                  <a href="/{{data.prototypeVersion}}/update-outcome?index={{loop.index0}}&edit=false&clearError=true">Update outcome</a>
                                {% endif %}
                              </li>
                            </ul>
                            {% endif %}
                        </div>
                        <div class="offence-card-actions">
                            <ul class="offence-card-actions-list">
                                <li class="offence-card-action-link"><a href="/{{data.prototypeVersion}}/update-offence?index={{loop.index0}}&route=remand-to-sentence">Edit</a></li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% if no_matches2 %}
                    {% if data.appearance['warrant-type'] == "Sentencing" %}
                    <div class="govuk-inset-text govuk-!-margin-top-2">
                        There are no offences with non-custodial outcomes.
                       </div>
                       {% else %}
                       <div class="govuk-inset-text govuk-!-margin-top-2">
                        There are no offences with updated outcomes.
                       </div>
                       {% endif %}
                    {% endif %}
            </div>
            <div class="govuk-form-group govuk-!-margin-top-9">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Have you finished updating offence outcomes?
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="finished-adding-offences" name="appearance[finished-adding-offences]" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="finished-adding-offences">
                                Yes, I’ve finished
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="finished-adding-offences-2" name="appearance[finished-adding-offences]" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="finished-adding-offences-2">
                                No, I’ll come back to it later
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>
        </form>
    </div>
    <div class="govuk-grid-column-one-third">
        {% set showOffences = false %}
        {% include "includes/templates/appearance-info.njk" %}
    </div>
</div>
{% endblock %}
