{{data.prototypeVersion}}{% extends "../template.html" %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        {% if data.route == "new-court-case" %}
        <form class="form"
            action="/{{data.prototypeVersion}}/add-sentence-information?route=new-court-case&index={{data.index}}"
            method="post">
            {% elif (data.route == "new-court-case") or (data.route == "edit-appearance") %}
            <form class="form"
            action="/{{data.prototypeVersion}}/add-sentence-information?route=edit-appearance&index={{data.index}}"
            method="post">
            {% else %}
            <form class="form"
                action="/{{data.prototypeVersion}}/add-sentence-information?route=remand-to-sentence&index={{data.index}}"
                method="post">
                {% endif %}
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                {% if (data.route == "new-court-case") or (data.route == "edit-appearance") %}
                                <span class="govuk-caption-l">Add offences</span>
                                What is the outcome?
                                {% else %}
                                <span class="govuk-caption-l">Update offence outcomes</span>
                                What is the new outcome for this offence?
                                {% endif %}
                                
                            </h1>
                        </legend>
                        {% if data.route != "edit-appearance" %} 
                            <p class="govuk-body-l">{{ data.appearance.offences[data.index]['offence-name'] }} committed on
                                {{ data.appearance.offences[data.index]['offence-start-date-day'] }}/{{
                                data.appearance.offences[data.index]['offence-start-date-month'] }}/{{
                                data.appearance.offences[data.index]['offence-start-date-year'] }}</p>
                            {% endif %}
                        {% if data.appearance['warrant-type'] == 'Remand' %}
                        <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="overallCaseOutcome" name="overallCaseOutcome" type="radio" value="Commit to Crown Court for trial in custody">
                              <label class="govuk-label govuk-radios__label" for="overallCaseOutcome">
                                Commit to Crown Court for trial in custody
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="overallCaseOutcome-2" name="overallCaseOutcome" type="radio" value="Remand in custody">
                              <label class="govuk-label govuk-radios__label" for="overallCaseOutcome-2">
                                Remand in custody
                              </label> 
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="overallCaseOutcome-3" name="overallCaseOutcome" type="radio" value="Send to Crown Court for trial ">
                              <label class="govuk-label govuk-radios__label" for="overallCaseOutcome-3">
                                Send to Crown Court for trial 
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="overallCaseOutcome-4" name="overallCaseOutcome" type="radio" value="Convicted awaiting sentence">
                              <label class="govuk-label govuk-radios__label" for="overallCaseOutcome-4">
                                Convicted awaiting sentence
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="overallCaseOutcome-5" name="overallCaseOutcome" type="radio" value="Commit to Crown Court for sentence in custody">
                              <label class="govuk-label govuk-radios__label" for="overallCaseOutcome-5">
                                Commit to Crown Court for sentence in custody
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="overallCaseOutcome-6" name="overallCaseOutcome" type="radio" value="Guilty">
                              <label class="govuk-label govuk-radios__label" for="overallCaseOutcome-6">
                                Guilty
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="overallCaseOutcome-7" name="overallCaseOutcome" type="radio" value="Remittal for sentence in custody">
                              <label class="govuk-label govuk-radios__label" for="overallCaseOutcome-7">
                                Remittal for sentence in custody
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="overallCaseOutcome-8" name="overallCaseOutcome" type="radio" value="Remand on conditional bail">
                              <label class="govuk-label govuk-radios__label" for="overallCaseOutcome-8">
                                Remand on conditional bail
                              </label>
                              </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="overallCaseOutcome-9" name="overallCaseOutcome" type="radio" value="Commit to Crown Court for sentence">
                              <label class="govuk-label govuk-radios__label" for="overallCaseOutcome-9">
                                Commit to Crown Court for sentence
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="overallCaseOutcome-10" name="overallCaseOutcome" type="radio" value="Immigration detainee">
                              <label class="govuk-label govuk-radios__label" for="overallCaseOutcome-10">
                                Immigration detainee
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="overallCaseOutcome-11" name="overallCaseOutcome" type="radio" value="Adjourned">
                              <label class="govuk-label govuk-radios__label" for="overallCaseOutcome-11">
                                Adjourned
                              </label>
                              
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="overallCaseOutcome-12" name="overallCaseOutcome" type="radio" value="Community order">
                              <label class="govuk-label govuk-radios__label" for="overallCaseOutcome-12">
                                Community order
                              </label>
                              
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="overallCaseOutcome-13" name="overallCaseOutcome" type="radio" value="Remittal for trial in custody">
                              <label class="govuk-label govuk-radios__label" for="overallCaseOutcome-13">
                                Remittal for trial in custody
                              </label>
                            </div>
                            <div class="govuk-radios__item">
                              <input class="govuk-radios__input" id="overallCaseOutcome-14" name="overallCaseOutcome" type="radio" value="Detention and training order">
                              <label class="govuk-label govuk-radios__label" for="overallCaseOutcome-14">
                                Detention and training order
                              </label>
                              
                            </div>
                          </div>
                        {% else %}
                        <div class="govuk-radios" data-module="govuk-radios" data-govuk-radios-init="">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="offenceOutcome" name="offenceOutcome"
                                    type="radio" value="Imprisonment">
                                <label class="govuk-label govuk-radios__label" for="offenceOutcome">
                                    Imprisonment
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="offenceOutcome-2" name="offenceOutcome"
                                    type="radio" value="Imprisonment in default of a fine">
                                <label class="govuk-label govuk-radios__label" for="offenceOutcome-2">
                                    Imprisonment in default of a fine
                                </label>
                            </div>
                            <div class="govuk-radios__divider">or</div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="offenceOutcome-4" name="offenceOutcome"
                                    type="radio" value="Suspended imprisonment">
                                <label class="govuk-label govuk-radios__label" for="offenceOutcome-4">
                                    Suspended imprisonment
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="offenceOutcome-5" name="offenceOutcome"
                                    type="radio" value="Lie on file">
                                <label class="govuk-label govuk-radios__label" for="offenceOutcome-5">
                                    Lie on file
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="offenceOutcome-6" name="offenceOutcome"
                                    type="radio" value="Not guilty">
                                <label class="govuk-label govuk-radios__label" for="offenceOutcome-6">
                                    Not guilty
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="offenceOutcome-7" name="offenceOutcome"
                                    type="radio" value="No separate penalty">
                                <label class="govuk-label govuk-radios__label" for="offenceOutcome-7">
                                    No separate penalty
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="offenceOutcome-8" name="offenceOutcome"
                                    type="radio" value="Dismissed">
                                <label class="govuk-label govuk-radios__label" for="offenceOutcome-8">
                                    Dismissed
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="offenceOutcome-9" name="offenceOutcome"
                                    type="radio" value="Discharged">
                                <label class="govuk-label govuk-radios__label" for="offenceOutcome-9">
                                    Discharged
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="offenceOutcome-10" name="offenceOutcome"
                                    type="radio" value="Discontinuance">
                                <label class="govuk-label govuk-radios__label" for="offenceOutcome-10">
                                    Discontinuance
                                </label>

                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="offenceOutcome-11" name="offenceOutcome"
                                    type="radio" value="Withdrawn final">
                                <label class="govuk-label govuk-radios__label" for="offenceOutcome-11">
                                    Withdrawn final
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="offenceOutcome-12" name="offenceOutcome"
                                    type="radio" value="Withdrawn">
                                <label class="govuk-label govuk-radios__label" for="offenceOutcome-12">
                                    Withdrawn
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="offenceOutcome-13" name="offenceOutcome"
                                    type="radio" value="Proceedings stayed">
                                <label class="govuk-label govuk-radios__label" for="offenceOutcome-13">
                                    Proceedings stayed
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="offenceOutcome-14" name="offenceOutcome"
                                    type="radio" value="Fine">
                                <label class="govuk-label govuk-radios__label" for="offenceOutcome-14">
                                    Fine
                                </label>
                            </div>
                        </div>
                        {% endif %}
                    </fieldset>
                </div>
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Save and continue
                    </button>
                </div>
            </form>
    </div>
    <div class="govuk-grid-column-one-third">
        {% set showOffences = false %}
        {% include "includes/templates/appearance-info.njk" %}
    </div>
</div>
{% endblock %}