{% extends "./template.html" %}
{% set nav = true %}
{% set noBackLink = true %}
{% set documentsActive = true %}
{% block content %}
<style>
    /* Expander container */
    .filter-expander {
        border-top: 1px solid #b1b4b6;
        border-bottom: 1px solid #b1b4b6;
        margin-bottom: -1px;
        overflow: hidden;
    }

    .moj-filter__options .filter-expander:first-of-type {
        border-top: none;
    }

    /* Button base */
    .filter-expander__button {
        position: relative;
        width: 100%;
        text-align: left;
        background: none;
        border: 0;
        padding: 14px 0 14px 26px;
        cursor: pointer;
        color: #0b0c0c;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
    }

    .govuk-checkboxes__label {
        max-width: 100%
    }

    /* Chevron when expanded (no animation) */
    .filter-expander__button[aria-expanded="true"] {
        padding: 14px 0 5px 26px;
    }

    /* Label inside button */
    .filter-expander__label {
        display: inline-block;
        padding: 0;
        text-decoration: none;
        border-bottom: 3px solid transparent;
    }

    /* Hover */
    .filter-expander__button:hover .filter-expander__label {
        border-bottom: 3px solid #0b0c0c;
    }

    /* Active (while pressing) */
    .filter-expander__button:active .filter-expander__label {
        background: #ffdd00;
        border-bottom: 3px solid #0b0c0c;
    }

    /* Focus (keyboard / click) */
    .filter-expander__button:focus-visible .filter-expander__label {
        background: #ffdd00;
        border-bottom: 3px solid #0b0c0c;
        outline: none;
        /* optional */
    }

    /* Chevron */
    .filter-expander__button::before {
        content: "";
        position: absolute;
        left: 2px;
        top: 25px;
        width: 10px;
        height: 10px;
        border-right: 2.5px solid #0b0c0c;
        border-bottom: 2.5px solid #0b0c0c;
        transform-origin: center;
        transform: translateY(-50%) rotate(45deg);
        /* down */
    }

    /* Chevron when expanded (no animation) */
    .filter-expander__button[aria-expanded="true"]::before {
        transform: translateY(-50%) rotate(-135deg);
        /* up */
        top: 30px;
    }

    /* Content */
    .filter-expander__content {
        padding: 0 0 20px 0;
    }
</style>


<!-- Documents -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-xl">
            Documents
        </h2>
    </div>
</div>
<!-- <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="action-button-group">
            <a href="add-documents/document-type"><button class="govuk-button" data-module="govuk-button">
                    Add a document
                </button></a>
        </div>
    </div>
</div> -->

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <div class="moj-filter">
            <div class="moj-filter__header">
                <div class="moj-filter__header-title">
                    <h2 class="govuk-heading-m">Filter</h2>
                </div>
                <div class="moj-filter__header-action">
                </div>
            </div>
            <div class="moj-filter__content">
                <!-- <div class="moj-filter__selected">
                    <div class="moj-filter__selected-heading">
                        <div class="moj-filter__heading-title">
                            <h2 class="govuk-heading-m">Selected filters</h2>
                        </div>
                    </div>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Court name</h3>
                    <ul class="moj-filter-tags">
                        <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Leeds Crown Court</a></li>
                    </ul>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Type</h3>
                    <ul class="moj-filter-tags">
                        <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Warrant</a></li>
                        <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Indictment</a></li>
                        <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Trial record sheet</a></li>
                    </ul>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Dates</h3>
                    <ul class="moj-filter-tags">
                        <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> From 23/10/21 to 13/06/24</a></li>
                    </ul>
                </div> -->


                <div class="moj-filter__options">

                    <button class="govuk-button  govuk-!-margin-bottom-4">
                        Apply filters
                    </button>
  
                        <h1 class="govuk-heading-s govuk-!-margin-bottom-0">
                            Filter
                        </h1> 
                        <div class="govuk-radios govuk-radios--small govuk-!-margin-bottom-4" data-module="govuk-radios" ">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="month">
                            <label class="govuk-label govuk-radios__label" for="changedName">
                            New documents
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="year" checked>
                            <label class="govuk-label govuk-radios__label" for="changedName-2">
                            All documents
                            </label>
                        </div> 
                        </div>
                    <!-- Type -->  
                            <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Case reference</h3>
                            <div class="govuk-checkboxes govuk-!-padding-bottom-4 govuk-checkboxes--small">
                                <div class="govuk-checkboxes__item" checked>
                                    <input class="govuk-checkboxes__input" id="type-bail-order" name="type[]" checked
                                        type="checkbox" value="Bail order">
                                    <label class="govuk-label govuk-checkboxes__label" for="type-bail-order">
                                        All case references
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="type-calculation-sheet" name="type[]"
                                        type="checkbox" value="Calculation sheet">
                                    <label class="govuk-label govuk-checkboxes__label" for="type-calculation-sheet">
                                        No case reference
                                    </label>
                                </div> 
                            </div>
  

                </div>

            </div>
        </div>
    </div>
    <div class="govuk-grid-column-three-quarters">
        <div class="content-top govuk-!-margin-bottom-2">
            <div>
            
            </div>
            <div>
                <span class="govuk-body">Showing <strong>1</strong> to <strong>10</strong> of <strong>56</strong> documents</span>
            </div>
        </div>
        <!-- <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">6 documents</p> -->
      
 {% set docsViewed = data.tasks.docsViewed or [] %}
 <ul class="govuk-list documents-list">

  <!-- 1 Remand warrant -->
  <li class="documents-list-item" >
    <div{% if not docsViewed.includes('0') %} style="border-left: solid 8px #1d70b8; padding-left: 10px"{% endif %}>
   <h3 class="govuk-heading-s document-title govuk-!-margin-bottom-0" style="display:flex; align-items:center;">
  
  <span>
            <a href="/{{ data.prototypeVersion }}/mark-document-viewed?docId=0" class="govuk-link--no-visited-state" target="_blank">Remand warrant</a>
    <span class="govuk-body-s" style="color:#484949">PDF 2.2MB</span>
  </span>
          {% if not docsViewed.includes('0') %}<strong class="govuk-tag" style="margin-left:auto;">New</strong>{% else %} <a class="govuk-link" href="/mark-as-new/0" style="margin-left:auto; font-weight: normal;">Mark as new</a> {% endif %}
    </h3>

    <div class="govuk-grid-row govuk-!-padding-bottom-2 govuk-!-margin-top-2">
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Case reference</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">TB58634RB</p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Court name</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">Manchester City Magistrates Court</p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Warrant date</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">05/02/2026</p>
      </div>
      <div class="govuk-grid-column-full govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Source</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">Common Platform</p>
        <p class="govuk-body-s govuk-!-margin-bottom-0" style="color:#484949">
          File name: Manchester City Magistrates Court; Bloggs FEBRUARY; 2026-02-05; 01EK1123456
        </p>
      </div>
    </div>
    </div>
  </li>

  <!-- 2 Prison court register -->
  <li class="documents-list-item">

    <div{% if not docsViewed.includes('1') %} style="border-left: solid 8px #1d70b8; padding-left: 10px"{% endif %}>
   <h3 class="govuk-heading-s document-title govuk-!-margin-bottom-0" style="display:flex; align-items:center;">

  <span>
    <a href="/{{ data.prototypeVersion }}/mark-document-viewed?docId=1" class="govuk-link--no-visited-state" target="_blank">Prison court register</a>
    <span class="govuk-body-s" style="color:#484949">PDF 2.2MB</span>
  </span>

  {% if not docsViewed.includes('1') %}<strong class="govuk-tag" style="margin-left:auto;">New</strong>{% else %} <a class="govuk-link" href="/mark-as-new/1" style="margin-left:auto; font-weight: normal;">Mark as new</a>{% endif %}

</h3>

    <div class="govuk-grid-row govuk-!-padding-bottom-2 govuk-!-margin-top-2">
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Case reference</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">TB58634RB</p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Court name</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">Manchester City Magistrates Court</p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Warrant date</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">05/02/2026</p>
      </div>
      <div class="govuk-grid-column-full govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Source</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">Common Platform</p>
        <p class="govuk-body-s govuk-!-margin-bottom-0" style="color:#484949">
          File name: Manchester City Magistrates Court; Bloggs FEBRUARY; 2026-02-05; 059HKT30923
        </p>
      </div>
    </div>
    </div>
  </li>

  <!-- 3 Trial record sheet -->

  <li class="documents-list-item">
 
   <h3 class="govuk-heading-s document-title govuk-!-margin-bottom-0" style="display:flex; align-items:center;">
        <span>

      <a href="#" class="govuk-link--no-visited-state" target="_blank">Trial record sheet</a>

      <span class="govuk-body-s" style="color:#484949">PDF 2.2MB</span>
        </span>

  <a class="govuk-link" href="#" style="margin-left:auto; font-weight: normal;">Mark as new</a>
    </h3>

    <div class="govuk-grid-row govuk-!-padding-bottom-2 govuk-!-margin-top-2">
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Case reference</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">TB58634RB</p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Court name</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">Manchester City Magistrates Court</p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Warrant date</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">05/02/2026</p>
      </div>
      <div class="govuk-grid-column-full govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Source</h3>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="#" class="govuk-link">Court cases</a></p>
      </div>
    </div>
  </li>

  <!-- 4 Remand warrant -->

  <li class="documents-list-item">
 
   <h3 class="govuk-heading-s document-title govuk-!-margin-bottom-0" style="display:flex; align-items:center;">
        <span>

      <a href="#" class="govuk-link--no-visited-state" target="_blank">Remand warrant</a>
      <span class="govuk-body-s" style="color:#484949">PDF 2.2MB</span>
        </span>
    
  {<a class="govuk-link" href="#" style="margin-left:auto; font-weight: normal;">Mark as new</a>
    </h3>

    <div class="govuk-grid-row govuk-!-padding-bottom-2 govuk-!-margin-top-2">
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Case reference</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">TB58634RB</p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Court name</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">Manchester City Magistrates Court</p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Warrant date</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">03/08/2024</p>
      </div>
      <div class="govuk-grid-column-full govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Source</h3>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="#" class="govuk-link">Court cases</a></p>
      </div>
    </div>
  </li>

  <!-- 5 Recall order -->
  <li class="documents-list-item">
    <h3 class="govuk-heading-s document-title govuk-!-margin-bottom-0 style="display:flex; align-items:center;">

        <span>
            
      <a href="#" class="govuk-link--no-visited-state" target="_blank">Recall order</a>
      <span class="govuk-body-s" style="color:#484949">PDF 2.2MB</span>
        </span>
      <a class="govuk-link" href="#" style="margin-left:auto; font-weight: normal;">Mark as new</a>
    </h3>

    <div class="govuk-grid-row govuk-!-padding-bottom-2 govuk-!-margin-top-2">
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">PPCS reference</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">ABCD12345BCDE</p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Date added</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">11/01/2024</p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Source</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">
          <a href="#" class="govuk-link">Recall on 11/01/2024</a>
        </p>
      </div>
    </div>
  </li>

  <!-- 6 IS91 -->
  <li class="documents-list-item">
    <h3 class="govuk-heading-s document-title govuk-!-margin-bottom-0 style="display:flex; align-items:center;">

        <span>
            
      <a href="#" class="govuk-link--no-visited-state" target="_blank">IS91 Detention Authority</a>
      <span class="govuk-body-s" style="color:#484949">PDF 2.2MB</span>
        </span>
      <a class="govuk-link" href="#" style="margin-left:auto; font-weight: normal;">Mark as new</a>
    </h3>

    <div class="govuk-grid-row govuk-!-padding-bottom-2 govuk-!-margin-top-2">
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Home Office reference</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">ABCD12345BCDE</p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Date added</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">03/07/2023</p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Source</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">
          <a href="#" class="govuk-link">IS91 recorded on 03/07/2023</a>
        </p>
      </div>
    </div>
  </li>

  <!-- 7 Calculation sheet -->
  <li class="documents-list-item" >
    <h3 class="govuk-heading-s document-title govuk-!-margin-bottom-0 style="display:flex; align-items:center;">

        <span>
      <a href="#" class="govuk-link--no-visited-state" target="_blank">Calculation sheet</a>
      <span class="govuk-body-s" style="color:#484949">PDF 2.2MB</span>
            
        </span>
      <a class="govuk-link" href="#" style="margin-left:auto; font-weight: normal;">Mark as new</a>
    </h3>

    <div class="govuk-grid-row govuk-!-padding-bottom-2 govuk-!-margin-top-2">
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Uploaded by</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">B. Tate</p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Date added</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">11/06/2023</p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Source</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">
          <a href="#" class="govuk-link">Calculation on 11/06/2023</a>
        </p>
      </div>
    </div>
  </li>

  <!-- 8 Remand warrant (old) -->
  <li class="documents-list-item">
    <h3 class="govuk-heading-s document-title govuk-!-margin-bottom-0 style="display:flex; align-items:center;">

        <span>
      <a href="#" class="govuk-link--no-visited-state" target="_blank">Remand warrant</a>
      <span class="govuk-body-s" style="color:#484949">PDF 2.2MB</span>
            
        </span>
      <a class="govuk-link" href="#" style="margin-left:auto; font-weight: normal;">Mark as new</a>
    </h3>

    <div class="govuk-grid-row govuk-!-padding-bottom-2 govuk-!-margin-top-2">
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Case reference</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">SA194874TB</p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Court name</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">Manchester City Magistrates Court</p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Warrant date</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">03/08/2022</p>
      </div>
      <div class="govuk-grid-column-full govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Source</h3>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="#" class="govuk-link">Court cases</a></p>
      </div>
    </div>
  </li>

  <!-- 9 Prison court register -->
  <li class="documents-list-item">
    <h3 class="govuk-heading-s document-title govuk-!-margin-bottom-0 style="display:flex; align-items:center;">

        <span>
      <a href="#" class="govuk-link--no-visited-state" target="_blank">Prison court register</a>
      <span class="govuk-body-s" style="color:#484949">PDF 2.2MB</span>
            
        </span>
      <a class="govuk-link" href="#" style="margin-left:auto; font-weight: normal;">Mark as new</a>
    </h3>

    <div class="govuk-grid-row govuk-!-padding-bottom-2 govuk-!-margin-top-2">
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Case reference</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">SA194874TB</p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Court name</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">Manchester City Magistrates Court</p>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Warrant date</h3>
        <p class="govuk-body govuk-!-margin-bottom-0">03/08/2022</p>
      </div>
      <div class="govuk-grid-column-full govuk-!-margin-bottom-0">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Source</h3>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="#" class="govuk-link">Court cases</a></p>
      </div>
    </div>
  </li>

</ul>
<nav class="govuk-pagination" aria-label="Pagination">
  <div class="govuk-pagination__prev">
    <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
      <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
      </svg>
      <span class="govuk-pagination__link-title">
        Previous<span class="govuk-visually-hidden"> page</span>
      </span>
    </a>
  </div>
  <ul class="govuk-pagination__list">
    <li class="govuk-pagination__item govuk-pagination__item--current">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
        1
      </a>
    </li>
    <li class="govuk-pagination__item ">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" >
        2
      </a>
    </li>
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
        3
      </a>
    </li>
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 4">
        4
      </a>
    </li>
  </ul>
  <div class="govuk-pagination__next">
    <a class="govuk-link govuk-pagination__link" href="#" rel="next">
      <span class="govuk-pagination__link-title">
        Next<span class="govuk-visually-hidden"> page</span>
      </span>
      <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
    </a>
  </div>
</nav>
    </div>
</div>

<script>
    document.querySelectorAll('.filter-expander__button').forEach(button => {
        const content = document.getElementById(button.getAttribute('aria-controls'));

        // Initialize hidden content
        content.hidden = true;

        button.addEventListener('click', () => {
            const expanded = button.getAttribute('aria-expanded') === 'true';

            // Toggle expanded state
            button.setAttribute('aria-expanded', !expanded);
            content.hidden = expanded;

            // Ensure the button keeps focus after click
            button.focus();
        });
    });
</script>
{% endblock %}