{% set taskCount = (0 if data.tasks.remandWarrantViewed else 1) %}
<h3 class="govuk-heading-m" data-task-heading>Things to do ({{ taskCount }})</h3>

{% if not data.tasks.remandWarrantViewed %}
<article class="moj-ticket-panel" data-task-panel aria-label="Sub navigation 1">
  <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" style="border-left: 8px solid transparent; border-left-color: #b7592a; margin-bottom: 10px;" aria-label="Section 1">
    <a class="govuk-link govuk-body govuk-!-font-weight-bold" href="/{{data.prototypeVersion}}/quick-start-entry">Review new remand warrant</a>
  </section>
</article>
{% endif %}

<article class="moj-ticket-panel" id="calculation-task-panel" data-task-panel aria-label="Sub navigation 2" style="display: none;">
  <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" style="border-left: 8px solid transparent; border-left-color: #b7592a; margin-bottom: 10px;" aria-label="Section 2">
    <a class="govuk-link govuk-body govuk-!-font-weight-bold" href="/{{data.prototypeVersion}}/calculate-release-dates/calculation-reason">Perform a calculation</a>
  </section>
</article>

<p class="govuk-body" data-task-empty-state style="display: none;">There are no tasks to complete.</p>
