{% extends "../template.html" %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        {% if data.edit == 'true' %}
        <form class="form" action="edit-a-sentence" method="post">
            {% elif data.route == 'update-consec-concurr' %}
            <form class="form" action="/{{data.prototypeVersion}}/persist-sentence?sentenceIndex={{data.sentenceIndex}}" method="post">
            {% else %}
            <form class="form" action="/{{data.prototypeVersion}}/persist-sentence" method="post">
                {% endif %}
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" role="group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                <span class="govuk-caption-l">Add offences</span>
                                Select the sentence this is consecutive to
                            </h1>
                        </legend>
                        <p class="govuk-body-l">{{ data.sentence['offence-name'] }} committed on {{
                            data.sentence['offence-start-date-day'] }}/{{ data.sentence['offence-start-date-month']
                            }}/{{ data.sentence['offence-start-date-year'] }}</p>
                        <h2 class="govuk-heading-m">Sentences on this case</h2>
                        {% if data['appearance'].sentences.length > 0 %}
                        {% for sentence in data['appearance'].sentences %}
   
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="consecutive-to-case-ref"
                                name="sentence[consecutive-to]" type="radio" value="{% if sentence['count-number'] %}{{ sentence['count-number'] }}{% else %}{{ sentence['offence-name'] + " committed on " + sentence['offence-start-date-day'] + "/" + sentence['offence-start-date-month'] + "/" + sentence['offence-start-date-year'] }}{% endif %}">
                            <label class="govuk-label govuk-radios__label" for="consecutive-concurrent">
                                {% if sentence['count-number'] %}
                                Count {{ sentence['count-number'] }}<br>
                                {% endif %}
                                {{ sentence['offence-name'] }}<br>
                                <span class="govuk-hint">Committed on {{ data.sentence['offence-start-date-day'] }}/{{
                                    data.sentence['offence-start-date-month'] }}/{{ data.sentence['offence-start-date-year']
                                    }}</span>
                            </label>
                        </div>

                        {% endfor %}
                        {% else %}
                        <div class="govuk-inset-text">There are no other sentences added to this appearance yet. You can select the consecutive sentence later.</div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="consecutive-to-case-ref"
                                name="sentence[consecutive-to]" type="radio" value="none">
                            <label class="govuk-label govuk-radios__label" for="consecutive-concurrent">
                                Select the consecutive sentence later
                            </label>
                        </div>
                        {% endif %}
                        <div class="govuk-!-margin-top-6">
                            {% if data.courtCases.length > 1 %}
                            <h2 class="govuk-heading-m govuk-!-margin-top-7">Sentences on other cases</h2>
                            {% endif %}

                        {% for courtCase in data.courtCases %}
                        {% set lastAppearance = courtCase.appearances | last %}
                        {% set courtCaseIndex = loop.revindex0 %}
                        {% if lastAppearance["warrant-type"] == "Sentencing" %}
                        <div class="govuk-!-margin-bottom-6"> 
                        <h3 class="govuk-heading-s">{{ lastAppearance["court-case-ref"] }} at {{ lastAppearance["court-name"] }} on {{ lastAppearance["warrant-date-day"] }}/{{ lastAppearance["warrant-date-month"] }}/{{ lastAppearance["warrant-date-year"] }}</h3>
                            {% for sentence in lastAppearance.sentences %}
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="consecutive-to-case-ref"
                                    name="sentence[consecutive-to]" type="radio" value="count {% if sentence['count-number'] %}{{ sentence['count-number'] }}{% else %}{{ sentence['offence-name']}}{% endif %} on {{ lastAppearance["court-case-ref"] }} at {{ lastAppearance["court-name"] }} on {{ lastAppearance["warrant-date-day"] }}/{{ lastAppearance["warrant-date-month"] }}/{{ lastAppearance["warrant-date-year"] }}">
                                <label class="govuk-label govuk-radios__label" for="consecutive-concurrent">
                                    {% if sentence['count-number'] %}
                                    Count {{ sentence['count-number'] }}<br>
                                    {% endif %}
                                    {{ sentence['offence-name'] }}<br>
                                    <span class="govuk-hint">Committed on {{ sentence['offence-start-date-day'] }}/{{
                                        sentence['offence-start-date-month'] }}/{{ sentence['offence-start-date-year']
                                        }}</span>
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    </fieldset>
                </div>
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                </div>
            </form>
    </div>
    <div class="govuk-grid-column-one-third">
        {% set showOffences = true %}
        {% include "includes/templates/appearance-info.njk" %}
    </div>
</div>
{% endblock %}