{% extends "../template.html" %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
            <form class="form" action="/{{data.prototypeVersion}}/persist-sentence" method="post">
                <div class="moj-interruption-card">
                    <div class="moj-interruption-card__content">
                      <h1 class="govuk-heading-l moj-interruption-card__heading">This sentence cannot be made consecutive yet</h1>
                      <div class="govuk-body moj-interruption-card__body">
                        <p class="govuk-body">This is because there are no other valid sentences that <strong>{{ data['sentence']['offence-code'] }} {{ data['sentence']['offence-name'] }}</strong> can be made consecutive to.</p>
                        <p class="govuk-body">You can add the consecutive or concurrent information later.</p>
                    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-6">Do you want to continue?</p>
                      </div>
                      <div class="govuk-button-group moj-interruption-card__actions">
                        <button type="submit" class="govuk-button govuk-button--inverse" data-module="govuk-button">
                          Yes, continue
                      </button>
                        <a class="govuk-link govuk-link--inverse" href="consecutive-concurrent">Go back</a>
                      </div>
                    </div>
                  </div>
                
            </form>
    </div>
</div>
{% endblock %}