{% extends "../template.html" %}
{% block content %}
<!-- What is the confirmed date -->
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            <span class="govuk-caption-l">Add a court case</span>
            Check your answers
        </h1>
        <form class="form" action="/v11/persist-court-case" method="post">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Case reference
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['appearance']['court-case-ref'] | join }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="court-case-reference-number">
                            Edit<span class="govuk-visually-hidden"> case reference number</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Court name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['appearance']['court-name'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="court-name">
                            Edit<span class="govuk-visually-hidden"> court name</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Warrant type
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['appearance']['warrant-type'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="warrant-date">
                            Edit<span class="govuk-visually-hidden"> warrant date</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Uploaded warrant
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <a href="{{ asset_path }}documents/order-of-imprisonment-court-case-1.pdf" class="govuk-link--no-visited-state" target="_blank">order-of-imprisonment-court-case-1.pdf (opens in new tab)</a>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="upload-warrant">
                            Edit<span class="govuk-visually-hidden"> uploaded warrant</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Warrant date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['appearance']['warrant-date-day'] }}/{{ data['appearance']['warrant-date-month'] }}/{{ data['appearance']['warrant-date-year'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="warrant-date">
                            Edit<span class="govuk-visually-hidden"> warrant date</span>
                        </a>
                    </dd>
                </div>
                <!-- <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Overall case outcome
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['appearance']['overall-case-outcome'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="overall-case-outcome">
                            Edit<span class="govuk-visually-hidden"> overall case outcome</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Does the overall outcome apply to all offences?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['appearance']['overall-case-outcome-apply-all'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="outcome-apply-all">
                            Edit<span class="govuk-visually-hidden"> overall case outcome applies to all offences</span>
                        </a>
                    </dd>
                </div> -->
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Tagged bail
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['appearance']['tagged-bail'] }} days
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="tagged-bail">
                            Edit<span class="govuk-visually-hidden"> tagged-bail</span>
                        </a>
                    </dd>
                </div>
                {% if data['appearance']['warrant-type'] == 'Sentencing' %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Overall sentence length
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['appearance']['overall-sentence-length-years'] }} years {{ data['appearance']['overall-sentence-length-months'] }} months {{ data['appearance']['overall-sentence-length-weeks'] }} weeks {{ data['appearance']['overall-sentence-length-days'] }} days
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="overall-sentence-length">
                            Edit<span class="govuk-visually-hidden"> overall sentence length</span>
                        </a>
                    </dd>
                </div>
                {% endif %}
            </dl>
            {% if data['appearance']['warrant-type'] == 'Sentencing' %}
            <h2 class="govuk-heading-m">Now add the sentences for this appearance</h2>
            <p class="govuk-body">You will need to enter all of the sentence information from the warrant.</p>
            <button class="govuk-button" data-module="govuk-button">
                Confirm and add sentences
            </button>
            {% elif data['appearance']['warrant-type'] != 'Sentencing' %}
            <h2 class="govuk-heading-m">Now add the offences for this appearance</h2>
            <p class="govuk-body">You will need to enter all of the offence information from the warrant.</p>
            <button class="govuk-button" data-module="govuk-button">
                Confirm and add offences
            </button>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}