{% extends "../template.html" %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">

        <form class="form" action="/{{data.prototypeVersion}}/persist-sentence" method="post">
            <div class="moj-interruption-card">
                <div class="moj-interruption-card__content">
                  <h1 class="govuk-heading-l moj-interruption-card__heading">There are missing count numbers</h1>
                  <div class="govuk-body moj-interruption-card__body">
                    <p>You are adding a consecutive offence, but the other offences do not have count numbers.</p>
                    <p>To add more than one consecutive offence, you must add the count numbers to the other offences.</p>
                    <h2 class="govuk-!-font-size-19 moj-interruption-card__heading">How to add count numbers</h2>
                    <p>On the Add offences page, for each offence:</p>
                    <ol class="govuk-list govuk-!-font-size-19 govuk-list--number govuk-!-margin-left-2 govuk-!-margin-bottom-6">
                      <li>Select 'Edit'</li>
                      <li>Enter the count number</li>
                      <li>Select 'Accept changes'</li>
                      <li>Once all the count numbers have been added,  you can then select the consecutive offences</li>
                    </ol>
                
                  </div>
                  <div class="govuk-button-group moj-interruption-card__actions">
                    <button type="submit" class="govuk-button govuk-button--inverse" data-module="govuk-button">
                      Go to Add offences page
                    </button>
        
                    <a class="govuk-link govuk-link--inverse" href="consecutive-concurrent">Go back a step</a>
        
                  </div>
                </div>
              </div>

            
        </form>
    </div>
    <div class="govuk-grid-column-one-third">
        {% set showOffences = true %}
        {% include "includes/templates/appearance-info.njk" %}
    </div>
</div>
</div>
{% endblock %}