v12{% extends "../template.html" %}
{% block content %}
<!-- What is the confirmed date -->
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/v12/add-sentence-information?route=remand-to-sentence&index={{data.index}}" method="post">
            <div class="govuk-form-group"> 
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">Add an appearance to a court case</span>
                            What is the new outcome for this offence?
                        </h1>
                    </legend>
                    <p class="govuk-body-l">{{ data.appearance.offences[data.index]['offence-name'] }} committed on {{ data.appearance.offences[data.index]['offence-start-date-day'] }}/{{ data.appearance.offences[data.index]['offence-start-date-month'] }}/{{ data.appearance.offences[data.index]['offence-start-date-year'] }}<p class="govuk-body-l">
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome" name="offence[outcome]" type="radio" value="Imprisonment">
                            <label class="govuk-label govuk-radios__label" for="outcome">
                                Imprisonment
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-2" name="offence[outcome]" type="radio" value="Outcome 2">
                            <label class="govuk-label govuk-radios__label" for="outcome-2">
                                Outcome 2
                            </label>
                        </div>
                        <div class="govuk-radios__divider">or</div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-3" name="offence[outcome]" type="radio" value="Outcome 3">
                            <label class="govuk-label govuk-radios__label" for="outcome-3">
                                Outcome 3
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>
{% endblock %}