v12{% extends "../template.html" %}
{% block content %}
<!-- What is the confirmed date -->
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/v12/add-sentence-information?route=remand-to-sentence&index={{data.index}}" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">Review offences {% if data.appearance['warrant-type'] == "Sentencing" %}and sentences{% endif %}</span>
                            What is the new outcome for this offence?
                        </h1>
                    </legend>
                    <p class="govuk-body-l">{{ data.appearance.offences[data.index]['offence-name'] }} committed on {{ data.appearance.offences[data.index]['offence-start-date-day'] }}/{{ data.appearance.offences[data.index]['offence-start-date-month'] }}/{{ data.appearance.offences[data.index]['offence-start-date-year'] }}</p>
                    {% if data.appearance['warrant-type'] == 'Remand' %}
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome" name="offence[outcome]" type="radio" value="Remanded in custody">
                            <label class="govuk-label govuk-radios__label" for="outcome">
                                Remanded in custody
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-2" name="offence[outcome]" type="radio" value="Sent to Crown Court in custody for trial with bail direction">
                            <label class="govuk-label govuk-radios__label" for="outcome-2">
                                Sent to Crown Court in custody for trial with bail direction
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-3" name="offence[outcome]" type="radio" value="Committed to Crown Court for sentence - in custody with bail direction">
                            <label class="govuk-label govuk-radios__label" for="outcome-3">
                                Committed to Crown Court for sentence - in custody with bail direction
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-4" name="offence[outcome]" type="radio" value="Committed to Crown Court for sentence in custody">
                            <label class="govuk-label govuk-radios__label" for="outcome-4">
                                Committed to Crown Court for sentence in custody
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-5
                        5" name="offence[outcome]" type="radio" value="Adult remittal for sentence in custody">
                            <label class="govuk-label govuk-radios__label" for="outcome-5">
                                Adult remittal for sentence in custody
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-6" name="offence[outcome]" type="radio" value="Sent to Crown Court for trial in custody">
                            <label class="govuk-label govuk-radios__label" for="outcome-6">
                                Sent to Crown Court for trial in custody
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-7" name="offence[outcome]" type="radio" value="Committed to Crown Court for sentence in prison for restriction order">
                            <label class="govuk-label govuk-radios__label" for="outcome-7">
                                Committed to Crown Court for sentence in prison for restriction order
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-8" name="offence[outcome]" type="radio" value="Committed to the Crown Court in custody for consideration of the question of bail in a charge of murder">
                            <label class="govuk-label govuk-radios__label" for="outcome-8">
                                Committed to the Crown Court in custody for consideration of the question of bail in a charge of murder
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-9" name="offence[outcome]" type="radio" value="Prosecutor's notice of appeal received. Remanded in custody">
                            <label class="govuk-label govuk-radios__label" for="outcome-9">
                                Prosecutor's notice of appeal received. Remanded in custody
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-10" name="offence[outcome]" type="radio" value="Recommended for deportation when detained">
                            <label class="govuk-label govuk-radios__label" for="outcome-10">
                                Recommended for deportation when detained
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-11" name="offence[outcome]" type="radio" value="The court orders that the defendant be transferred to service custody">
                            <label class="govuk-label govuk-radios__label" for="outcome-11">
                                The court orders that the defendant be transferred to service custody
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-12" name="offence[outcome]" type="radio" value="Remanded in custody pending receipt of Prosecutor's written notice of appeal">
                            <label class="govuk-label govuk-radios__label" for="outcome-12">
                                Remanded in custody pending receipt of Prosecutor's written notice of appeal
                            </label>
                        </div>
                        <div class="govuk-radios__divider">or</div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-13" name="offence[outcome]" type="radio" value="Dismissed">
                            <label class="govuk-label govuk-radios__label" for="outcome-13">
                                Dismissed
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-14" name="offence[outcome]" type="radio" value="No separate penalty">
                            <label class="govuk-label govuk-radios__label" for="outcome-14">
                                No separate penalty
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-15" name="offence[outcome]" type="radio" value="Not guilty">
                            <label class="govuk-label govuk-radios__label" for="outcome-15">
                                Not guilty
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-16" name="offence[outcome]" type="radio" value="Other non-custodial outcome">
                            <label class="govuk-label govuk-radios__label" for="outcome-16">
                                Other non-custodial outcome
                            </label>
                        </div>
                    </div>
                    {% else %}
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-17" name="offence[outcome]" type="radio" value="Imprisonment">
                            <label class="govuk-label govuk-radios__label" for="outcome-17">
                                Imprisonment
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-18" name="offence[outcome]" type="radio" value="Bind over witness to keep the peace and imprison">
                            <label class="govuk-label govuk-radios__label" for="outcome-18">
                                Bind over witness to keep the peace and Imprison
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-19" name="offence[outcome]" type="radio" value="Committed to prison for refusal to affirm">
                            <label class="govuk-label govuk-radios__label" for="outcome-19">
                                Committed to prison for refusal to affirm
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-20" name="offence[outcome]" type="radio" value="Committed to prison for refusal to be sworn">
                            <label class="govuk-label govuk-radios__label" for="outcome-20">
                                Committed to prison for refusal to be sworn
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-21" name="offence[outcome]" type="radio" value="Committed to prison for refusal to give evidence">
                            <label class="govuk-label govuk-radios__label" for="outcome-21">
                                Committed to prison for refusal to give evidence
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-22" name="offence[outcome]" type="radio" value="Committed to prison for refusal to give evidence and produce documents">
                            <label class="govuk-label govuk-radios__label" for="outcome-22">
                                Committed to prison for refusal to give evidence and produce documents
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-23" name="offence[outcome]" type="radio" value="Committed to prison for refusal to produce items">
                            <label class="govuk-label govuk-radios__label" for="outcome-23">
                                Committed to prison for refusal to produce items
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-24" name="offence[outcome]" type="radio" value="Custody for life">
                            <label class="govuk-label govuk-radios__label" for="outcome-24">
                                Custody for life
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-25" name="offence[outcome]" type="radio" value="Custody for life for second listed offence (S.273 SA 2020 / S.224A CJA 2003)">
                            <label class="govuk-label govuk-radios__label" for="outcome-25">
                                Custody for life for second listed offence (S.273 SA 2020 / S.224A CJA 2003)
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-26" name="offence[outcome]" type="radio" value="Custody for life for serious offence (S.274 SA 2020 / S.225 CJA 2003)">
                            <label class="govuk-label govuk-radios__label" for="outcome-26">
                                Custody for life for serious offence (S.274 SA 2020 / S.225 CJA 2003)
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-27" name="offence[outcome]" type="radio" value="Detained at His Majesty's pleasure (under 18)(S.259 SA 2020 / S.90 PCC(S)A 2000)">
                            <label class="govuk-label govuk-radios__label" for="outcome-27">
                                Detained at His Majesty's pleasure (under 18)(S.259 SA 2020 / S.90 PCC(S)A 2000)
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-28" name="offence[outcome]" type="radio" value="Extended sentence of detention for violent, sexual or terrorism offence (18-20)(S.266 SA 2020 / s.226A CJA 2003">
                            <label class="govuk-label govuk-radios__label" for="outcome-28">
                                Extended sentence of detention for violent, sexual or terrorism offence (18-20)(S.266 SA 2020 / s.226A CJA 2003
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-29" name="offence[outcome]" type="radio" value="Extended sentence of imprisonment for violent, sexual or terrorism offence (21 and over)(S.279 SA 2020 / S.226A CJA 2003)">
                            <label class="govuk-label govuk-radios__label" for="outcome-29">
                                Extended sentence of imprisonment for violent, sexual or terrorism offence (21 and over)(S.279 SA 2020 / S.226A CJA 2003)
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-30" name="offence[outcome]" type="radio" value="Life imprisonment for second listed offence (S.283 SA 2020 / S.224A CJA 2003)">
                            <label class="govuk-label govuk-radios__label" for="outcome-30">
                                Life imprisonment for second listed offence (S.283 SA 2020 / S.224A CJA 2003)
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-31" name="offence[outcome]" type="radio" value="Life imprisonment for serious offence (S.274)">
                            <label class="govuk-label govuk-radios__label" for="outcome-31">
                                Life imprisonment for serious offence (S.274)
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-32" name="offence[outcome]" type="radio" value="Mandatory custody for life">
                            <label class="govuk-label govuk-radios__label" for="outcome-32">
                                Mandatory custody for life
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-33" name="offence[outcome]" type="radio" value="Mandatory life imprisonment">
                            <label class="govuk-label govuk-radios__label" for="outcome-33">
                                Mandatory life imprisonment
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-34" name="offence[outcome]" type="radio" value="Minimum sentence of Imprisonment for domestic burglary">
                            <label class="govuk-label govuk-radios__label" for="outcome-34">
                                Minimum sentence of Imprisonment for domestic burglary
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-35" name="offence[outcome]" type="radio" value="Minimum sentence of Imprisonment for drug trafficking">
                            <label class="govuk-label govuk-radios__label" for="outcome-35">
                                Minimum sentence of Imprisonment for drug trafficking
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-36" name="offence[outcome]" type="radio" value="Serious terrorism sentence of imprisonment (S.282A SA 2020)">
                            <label class="govuk-label govuk-radios__label" for="outcome-36">
                                Serious terrorism sentence of imprisonment (S.282A SA 2020)
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-37" name="offence[outcome]" type="radio" value="Special custodial sentence of imprisonment for offender of particular concern (S.278 SA 2020 / 236A CJA 2003">
                            <label class="govuk-label govuk-radios__label" for="outcome-37">
                                Special custodial sentence of imprisonment for offender of particular concern (S.278 SA 2020 / 236A CJA 2003
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-38" name="offence[outcome]" type="radio" value="Special sentence of detention for terrorist offender of particular concern (under 18)(S.252A SA 2020)">
                            <label class="govuk-label govuk-radios__label" for="outcome-38">
                                Special sentence of detention for terrorist offender of particular concern (under 18)(S.252A SA 2020)
                            </label>
                        </div>
                        <div class="govuk-radios__divider">or</div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-39" name="offence[outcome]" type="radio" value="Suspended sentence of imprisonment activated unaltered">
                            <label class="govuk-label govuk-radios__label" for="outcome-39">
                                Suspended sentence of imprisonment activated unaltered
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="outcome-40" name="offence[outcome]" type="radio" value="Suspended sentence of imprisonment activated with lesser term">
                            <label class="govuk-label govuk-radios__label" for="outcome-40">
                                Suspended sentence of imprisonment activated with lesser term
                            </label>
                        </div>
                    </div>
                    {% endif %}
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>
{% endblock %}