{% extends "../template.html" %}
{% block content %}
<!-- What is the confirmed date -->
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
            
            <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
  <h1 class="govuk-panel__title govuk-!-font-size-36">
    Appearance successfully saved
  </h1>
</div>
<h2 class="govuk-heading-m">What you can do next</h2>
<ul class="govuk-list govuk-list__no-bullet">
    <li><a class="govuk-link--no-visited-state" href="">Enter adjustments</a></li>
    <li><a class="govuk-link--no-visited-state" href="../">Go back to Court cases</a></li>
</ul>

    </div>
</div>
{% endblock %}