{% extends "../template.html" %}
{% block content %}
<!-- What is the confirmed date -->
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
            <h1 class="govuk-panel__title govuk-!-font-size-36">
                Appearance successfully saved
            </h1>
        </div>
        <h2 class="govuk-heading-m">What you can do next</h2>
        <p class="govuk-body"><a href="#">Add adjustments</a></p>
        <p class="govuk-body"><a href="../">Go back to Court cases</a></p>
    </div>
</div>
{% endblock %}