{% extends "./template.html" %}
{% block content %}
<!-- {% set backLinkTarget = 'court-case-detail' %} -->
{% set noBackLink = 'true' %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-top-4">Edit appearance</h1>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Case reference
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data.appearance['court-case-ref'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="add-a-court-appearance/court-case-reference-number?postSaveEdit=true">
                Edit<span class="govuk-visually-hidden"> case reference</span>
              </a>
            </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Warrant date
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data.appearance['warrant-date-day'] }}/{{ data.appearance['warrant-date-month'] }}/{{ data.appearance['warrant-date-year'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="add-a-court-appearance/warrant-date?postSaveEdit=true">
                Edit<span class="govuk-visually-hidden"> warrant date</span>
              </a>
            </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Location
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data.appearance['court-name'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="add-a-court-appearance/court-name?postSaveEdit=true">
                Edit<span class="govuk-visually-hidden"> court name</span>
              </a>
            </dd>
            </div>
<!--             <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Hearing type
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data.courtCases[data.courtCaseIndex].appearances[data.appearanceIndex]['hearing-type'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="add-a-court-appearance/hearing-type?postSaveEdit=true">
                Edit<span class="govuk-visually-hidden"> customer reference</span>
              </a>
            </dd>
            </div> -->
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Overall case outcome
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data.appearance['overall-case-outcome'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="add-a-court-appearance/overall-case-outcome?postSaveEdit=true">
                Edit<span class="govuk-visually-hidden"> overall case outcome</span>
              </a>
            </dd>
            </div>
            {% if (data.appearance['next-court-date-set'] != 'Yes') %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Next hearing set
                </dt>
                <dd class="govuk-summary-list__value">
                    Date to be fixed
                </dd>
                <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Edit<span class="govuk-visually-hidden"> next hearing</span>
              </a>
            </dd>
            </div>
            {% endif %}
        </dl>
        {% if (data.appearance['next-court-date-set'] == 'Yes') %}
        <h2 class="govuk-heading-m">Next hearing</h2>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Next hearing set
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data.appearance['next-court-date-set']}}
                </dd>
                <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="add-a-court-appearance/next-court-date-select?postSaveEdit=true">
                Edit<span class="govuk-visually-hidden"> next hearing set</span>
              </a>
            </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Location
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data.appearance['next-court-name'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="add-a-court-appearance/next-court-name?postSaveEdit=true">
                Edit<span class="govuk-visually-hidden"> customer reference</span>
              </a>
            </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Hearing type
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data.appearance['next-hearing-type'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="add-a-court-appearance/next-court-date-select">
                Edit<span class="govuk-visually-hidden"> next hearing type</span>
              </a>
            </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ data.courtCases[data.courtCaseIndex].appearances[data.appearanceIndex]['next-court-date-day'] }}/{{ data.courtCases[data.courtCaseIndex].appearances[data.appearanceIndex]['next-court-date-month'] }}/{{ data.courtCases[data.courtCaseIndex].appearances[data.appearanceIndex]['next-court-date-year'] }} at {{ data.courtCases[data.courtCaseIndex].appearances[data.appearanceIndex]['next-court-time'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Edit<span class="govuk-visually-hidden"> customer reference</span>
              </a>
            </dd> 
            </div>
        </dl>
        {% endif %}
        <h2 class="govuk-heading-m">Offences <span class="govuk-body">({{data.courtCases[data.courtCaseIndex].appearances[data.appearanceIndex].offences.length}})</span></h2>
        {% for offence in data.courtCases[data.courtCaseIndex].appearances[data.appearanceIndex].offences %}
        <div class="offence-card">
            <div class="offence-card-offence-details">
                <h4 class="govuk-heading-s">{{ offence['offence-name'] }}</h4>
                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Commited on
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ offence['offence-start-date-day'] }}/{{ offence['offence-start-date-month'] }}/{{ offence['offence-start-date-year'] }}
                            {% if offence['offence-end-date-day'] > 0 %}
                            to
                            {{ offence['offence-end-date-day'] }}/{{ offence['offence-end-date-month'] }}/{{ offence['offence-end-date-year'] }}
                            {% endif %}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Outcome
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ offence['outcome'] }}
                        </dd>
                    </div>
                </dl>
            </div>
                            <div class="offence-card-actions">
                    <ul class="offence-card-actions-list">
                        <li class="offence-card-action-link"><a href="/{{data.prototypeVersion}}/update-offence?index={{loop.index0}}&postSaveEdit=true">Edit</a></li>
                        <li class="offence-card-action-link"><a href="/{{data.prototypeVersion}}/confirm-delete?index={{loop.index0}}&postSaveEdit=true">Delete</a></li>
                    </ul>
                </div>
        </div>
        {% endfor %}
        {% endblock %}