{% extends "../template.html" %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-two-thirds govuk-!-padding-right-8">
    <form class="form" action="/{{data.prototypeVersion}}/court-documents-complete" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              <span class="govuk-caption-l">Upload court documents</span>
              You have uploaded {{ data.appearance.documents.length }} documents
            </h1>
          </legend>
          <div id="file-upload-1-hint" class="govuk-hint govuk-!-margin-top-1 govuk-!-margin-bottom-5">
            You can upload .pdf, .jpg, .doc or .docx files.
          </div>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button" formaction="document-type"
            method="post">Upload a document</button>
          <p class="govuk-body govuk-!-display-none" id="refreshPageProgress"><a href="#" class="govuk-link">Refresh
              page to update file upload progress</a></p>
          <dl class="govuk-summary-list govuk-summary-list--long-key">
            {% for document in data.appearance.documents %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key govuk-!-width-two-thirdsç">
                <a class="govuk-link" href="#">{{ document }}</a>
              </dt>
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag govuk-tag--green">
                  uploaded
                </strong>

              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Delete<span class="govuk-visually-hidden"> {{ document }}</span>
                </a>
              </dd>
            </div>
            {% else %}
            <p class="govuk-body">No documents have been uploaded for this appearance yet.</p>
            {% endfor %}
          </dl>
          <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>
            <a class="govuk-button govuk-button--secondary" data-module="govuk-button"
              href="/{{data.prototypeVersion}}/save-court-case">
              Save as draft
            </a>
          </div>
    </form>
  </div>
</div>
<div class="govuk-grid-column-one-third">
  <div class="offence-summary">
      <h2 class="govuk-heading-m govuk-!-margin-top-4">Appearance details</h2>
      <dl class="govuk-summary-list govuk-summary-list--no-border offences-summary-card-content">
          <div class="govuk-summary-list__row offences-summary-card-court-details-row">
              <dt class="govuk-summary-list__key">
                  Case reference
              </dt>
              <dd class="govuk-summary-list__value">
                  {{ data['appearance']['court-case-ref'] }}
              </dd>
          </div>
          <div class="govuk-summary-list__row offences-summary-card-court-details-row">
              <dt class="govuk-summary-list__key">
                  Court name
              </dt>
              <dd class="govuk-summary-list__value">
                  {{ data['appearance']['court-name'] }}
              </dd>
          </div>
          <div class="govuk-summary-list__row offences-summary-card-court-details-row">
              <dt class="govuk-summary-list__key">
                  Warrant date
              </dt>
              <dd class="govuk-summary-list__value">
                  {{ data['appearance']['warrant-date-day'] }}/{{ data['appearance']['warrant-date-month'] }}/{{ data['appearance']['warrant-date-year'] }}
              </dd>
          </div>
      </dl>
  </div>
</div>
{% endblock %}