{% extends "../template.html" %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
                {% if data.edit == 'true' %}
        <form class="form" action="check-answers" method="post">
            {% else %}
        <form class="form" action="tagged-bail" method="post">
            {% endif %}
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">Add an appearance</span>
                            Select the overall case outcome
                        </h1>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overall-case-outcome" name="appearance[overall-case-outcome]" type="radio" value="Remanded in custody" {% if data.appearance['overall-case-outcome'] == "Remanded in custody"%}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="overall-case-outcome">
                                Remanded in custody
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overall-case-outcome-2" name="appearance[overall-case-outcome]" type="radio" value="Sent to Crown Court in custody for trial with bail direction" {% if data.appearance['overall-case-outcome'] == "Sent to Crown Court in custody for trial with bail direction"%}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="overall-case-outcome-2">
                                Sent to Crown Court in custody for trial with bail direction
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overall-case-outcome-3" name="appearance[overall-case-outcome]" type="radio" value="Committed to Crown Court for sentence - in custody with bail direction" {% if data.appearance['Committed to Crown Court for sentence - in custody with bail direction'] == "Remanded in custody"%}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="overall-case-outcome-3">
                                Committed to Crown Court for sentence - in custody with bail direction
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overall-case-outcome-4" name="appearance[overall-case-outcome]" type="radio" value="Committed to Crown Court for sentence in custody" {% if data.appearance['overall-case-outcome'] == "Committed to Crown Court for sentence in custody"%}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="overall-case-outcome-4">
                                Committed to Crown Court for sentence in custody
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overall-case-outcome-3
                        5" name="appearance[overall-case-outcome]" type="radio" value="Adult remittal for sentence in custody" {% if data.appearance['overall-case-outcome'] == "Adult remittal for sentence in custody"%}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="overall-case-outcome-5">
                                Adult remittal for sentence in custody
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overall-case-outcome-6" name="appearance[overall-case-outcome]" type="radio" value="Sent to Crown Court for trial in custody" {% if data.appearance['overall-case-outcome'] == "Sent to Crown Court for trial in custody"%}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="overall-case-outcome-6">
                                Sent to Crown Court for trial in custody
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overall-case-outcome-7" name="appearance[overall-case-outcome]" type="radio" value="Committed to Crown Court for sentence in prison for restriction order" {% if data.appearance['overall-case-outcome'] == "Committed to Crown Court for sentence in prison for restriction order"%}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="overall-case-outcome-7">
                                Committed to Crown Court for sentence in prison for restriction order
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overall-case-outcome-8" name="appearance[overall-case-outcome]" type="radio" value="Committed to the Crown Court in custody for consideration of the question of bail in a charge of murder" {% if data.appearance['overall-case-outcome'] == "Committed to the Crown Court in custody for consideration of the question of bail in a charge of murder"%}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="overall-case-outcome-8">
                                Committed to the Crown Court in custody for consideration of the question of bail in a charge of murder
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overall-case-outcome-9" name="appearance[overall-case-outcome]" type="radio" value="Prosecutor's notice of appeal received. Remanded in custody" {% if data.appearance['overall-case-outcome'] == "Prosecutor's notice of appeal received. Remanded in custody"%}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="overall-case-outcome-9">
                                Prosecutor's notice of appeal received. Remanded in custody
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overall-case-outcome-10" name="appearance[overall-case-outcome]" type="radio" value="Recommended for deportation when detained" {% if data.appearance['overall-case-outcome'] == "Recommended for deportation when detained"%}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="overall-case-outcome-10">
                                Recommended for deportation when detained
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overall-case-outcome-11" name="appearance[overall-case-outcome]" type="radio" value="The court orders that the defendant be transferred to service custody" {% if data.appearance['overall-case-outcome'] == "The court orders that the defendant be transferred to service custody"%}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="overall-case-outcome-11">
                                The court orders that the defendant be transferred to service custody
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overall-case-outcome-12" name="appearance[overall-case-outcome]" type="radio" value="Remanded in custody pending receipt of Prosecutor's written notice of appeal" {% if data.appearance['overall-case-outcome'] == "Remanded in custody pending receipt of Prosecutor's written notice of appeal"%}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="overall-case-outcome-12">
                                Remanded in custody pending receipt of Prosecutor's written notice of appeal
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>
{% endblock %}