{% extends "includes/layouts/prototype-home-layout.html" %}
{% block content %}
<div class="app-masthead govuk-!-margin-top-0">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="app-masthead__title govuk-heading-xl govuk-!-margin-bottom-3">
                    {{serviceName}}
                </h1>
                <h3 class="app-masthead__subtitle govuk-heading-l">Prototypes</h3>
                <div class="app-masthead__description">
                    <p class="govuk-body"></p>
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
            </div>
        </div>
    </div>
</div>
<div class="moj-width-container govuk-!-margin-top-8">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- Version 6 -->
            <h2 class="govuk-heading-l">Version 6</h2>
            <h3 class="govuk-heading-m">In this version</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>Added hub navigation</li>
                <li>...</li>
                <li>...</li>
            </ul>
            <h3 class="govuk-heading-m">Prototype links</h3>
            <ul class="govuk-list">
                <li><a href="v6/court-cases-standalone/court-cases-standalone">Version 6</a><strong class="govuk-tag govuk-tag--green" style="vertical-align: middle; margin-left: 10px;">
                        Currently working on
                    </strong></li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            <!-- Version 5 -->
            <h2 class="govuk-heading-l">Version 5</h2>
            <h3 class="govuk-heading-m">In this version</h3>
            <h4 class="govuk-heading-s">Standalone court cases hub</h4>
            <ul class="govuk-list govuk-list--bullet">
                <li>Added new DPS header</li>
                <li>Created sub-header/service header</li>
                <li>Court cases now include seperate appearances</li>
                <li>Iterated the 'Add a court case' journey to include adding first appearance and offences for remand to court case</li>
                <li>New component when adding offences to show progress of the offences added from a warrant so far</li>
                <li>Sorting added to court case list</li>
                <li>Redesigned filters to be less prominant on page folowing UR findings</li>
                <li>Added functionality in prototype to add and display appearances and multiple offences to court cases</li>
            </ul>
            <h3 class="govuk-heading-m">Prototype links</h3>
            <ul class="govuk-list">
                <li><a href="v5/court-cases-standalone/court-cases-standalone">Version 5</a><strong class="govuk-tag govuk-tag--blue" style="vertical-align: middle; margin-left: 10px;">
                        Currently in UR
                    </strong></li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            <!-- Version 4 -->
            <h2 class="govuk-heading-l">Version 4</h2>
            <h3 class="govuk-heading-m">In this version</h3>
            <h4 class="govuk-heading-s">Standalone court cases hub</h4>
            <ul class="govuk-list govuk-list--bullet">
                <li>Initial 'Add a court case' journey</li>
                <li>Included 'Mini profile' component to show prisoner in context</li>
                <li>Added functionality in prototype to add and display multiple court cases</li>
            </ul>
            <h3 class="govuk-heading-m">Prototype links</h3>
            <ul class="govuk-list">
                <li><a href="v4/court-cases-standalone/court-cases-standalone">Version 4</a></li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            <!-- Original hub prototypes -->
            <h2 class="govuk-heading-l">Hub design sprint prototypes</h2>
            <ul class="govuk-list">
                <li><a href="v3/overview">Version 3</a></li>
                <li><a href="v2/overview">Version 2</a></li>
                <li><a href="v1/overview">Version 1</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}