{% extends "includes/layouts/prototype-home-layout.html" %}
{% block content %}
<div class="app-masthead govuk-!-margin-top-0">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="app-masthead__title govuk-heading-xl govuk-!-margin-bottom-3">
                    {{serviceName}}
                </h1>
                <h3 class="app-masthead__subtitle govuk-heading-l">Prototypes</h3>
                <div class="app-masthead__description">
                    <p class="govuk-body"></p>
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
            </div>
        </div>
    </div>
</div>
<div class="moj-width-container govuk-!-margin-top-8">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- Version 3 -->
            <h2 class="govuk-heading-l">Version 3</h2>
            <h3 class="govuk-heading-m">In this version</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>...</li>
                <li>...</li>
                <li>...</li>
            </ul>
            <h3 class="govuk-heading-m">Prototype links</h3>
            <ul class="govuk-list">
                <li><a href="v3/overview">Version 3</a><strong class="govuk-tag govuk-tag--green" style="vertical-align: middle; margin-left: 10px;">
                        Currently working on
                    </strong></li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            <!-- Version 2 -->
            <h2 class="govuk-heading-l">Version 2</h2>
            <h3 class="govuk-heading-m">In this version</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>Changes to sub-navigation</li>
                <li>Redesigned calls to action</li>
                <li>Added new content based on user research</li>
            </ul>
            <h3 class="govuk-heading-m">Prototype links</h3>
            <ul class="govuk-list">
                <li><a href="v2/overview">Version 2</a><strong class="govuk-tag govuk-tag--blue" style="vertical-align: middle; margin-left: 10px;">
                        Ready for UR
                    </strong></li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
            <!-- Version 1 -->
            <h2 class="govuk-heading-l">Version 1</h2>
            <h3 class="govuk-heading-m">In this version</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>First design concepts for the Digital Warrant Folder service</li>
            </ul>
            <h3 class="govuk-heading-m">Prototype links</h3>
            <ul class="govuk-list">
                <li><a href="v1/overview">Version 1</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}