{% extends "../template.html" %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            <span class="govuk-caption-l">Record an immediate release</span>
            Check your answers
        </h1>
        <form class="form" action="task-list" method="post">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Court case <br>(last appearance)
                    </dt>
                    <dd class="govuk-summary-list__value">
                       {{ (data.courtCase.appearances | last)['court-case-ref'] }} at {{ (data.courtCase.appearances | last)['court-name'] }} on {{ (data.courtCase.appearances | last)['warrant-date-day'] }}/{{ (data.courtCase.appearances | last)['warrant-date-month'] }}/{{ (data.courtCase.appearances | last)['warrant-date-year'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="court-case-reference-number?edit=true">
                            Edit<span class="govuk-visually-hidden"> case reference number</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Reason for immediate release
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['appearance']['overall-case-outcome'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="reason-for-release?edit=true">
                            Edit<span class="govuk-visually-hidden"> reason for immediate release</span>
                        </a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Did Daryl Evans appear in court for this decison?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['appearance']['court-decision'] | capitalize }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="court-name?edit=true">
                            Edit<span class="govuk-visually-hidden"> court name</span>
                        </a>
                    </dd>
                </div>
            </dl>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Confirm and continue
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}