{% extends "../template.html" %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="check-answers" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">Record an immediate release</span>
                            Did Daryl Evans appear in court for this decison?
                        </h1>
                        <!-- <p class="govuk-body-l">{{ data.courtCaseIndex }}</p> -->
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="court-decision-1"
                                name="appearance[court-decision]" type="radio" value="yes" {%
                                if data.appearance and data.appearance['court-decision']=='yes'
                                %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="court-decision-1">Yes, they appeared in court</label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="court-decision-2"
                                name="appearance[court-decision]" type="radio" value="no" {% if
                                data.appearance and data.appearance['court-decision']=='no' %}checked{%
                                endif %}>
                            <label class="govuk-label govuk-radios__label" for="court-decision-2">No, the decision was made out of court</label>
                        </div>                        
                    </div>

                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}