{% extends "../template.html" %}
{% set backLink = true %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
            <form class="form" action="appearance-date">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" role="group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                <span class="govuk-caption-l">{% if data.appearance['court-decision']=='Yes' %}Add appearance information{% else %}Add case details{% endif %}</span>
                                Enter the case reference
                            </h1>
                        </legend>
                        <input class="govuk-input govuk-input--width-10" id="court-case-ref" name="appearance[court-case-ref]" type="text">
                    </fieldset>
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-checkboxes govuk-!-margin-top-6" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="no-offence-code" name="appearance[court-case-ref]" type="checkbox" value="None">
                                <label class="govuk-label govuk-checkboxes__label" for="no-offence-code">
                                    There is no case reference
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>
            </form>
    </div>
    {% if data.postSaveEdit == 'true' %}
    <div class="govuk-grid-column-one-third">
        {% set showOffences = true %}
        {% include "includes/templates/appearance-info.njk" %}
      </div>
      {% endif %}
</div>

{% endblock %}