{% extends "../template.html" %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="court-decision" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            <span class="govuk-caption-l">Record an immediate release</span>
                            Select the reason for immediate release
                        </h1>
                        <!-- <p class="govuk-body-l">{{ data.courtCaseIndex }}</p> -->
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overall-case-outcome-1"
                                name="appearance[overall-case-outcome]" type="radio" value="Suspended imprisonment" {%
                                if data.appearance and data.appearance['overall-case-outcome']=='Suspended imprisonment'
                                %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="overall-case-outcome-1">Suspended
                                imprisonment</label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overall-case-outcome-2"
                                name="appearance[overall-case-outcome]" type="radio" value="Lie on file" {% if
                                data.appearance and data.appearance['overall-case-outcome']=='Lie on file' %}checked{%
                                endif %}>
                            <label class="govuk-label govuk-radios__label" for="overall-case-outcome-2">Lie on
                                file</label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overall-case-outcome-3"
                                name="appearance[overall-case-outcome]" type="radio" value="Not guilty" {% if
                                data.appearance and data.appearance['overall-case-outcome']=='Not guilty' %}checked{%
                                endif %}>
                            <label class="govuk-label govuk-radios__label" for="overall-case-outcome-3">Not
                                guilty</label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overall-case-outcome-4"
                                name="appearance[overall-case-outcome]" type="radio" value="No separate penalty" {% if
                                data.appearance and data.appearance['overall-case-outcome']=='No separate penalty'
                                %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="overall-case-outcome-4">No separate
                                penalty</label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overall-case-outcome-5"
                                name="appearance[overall-case-outcome]" type="radio" value="Dismissed" {% if
                                data.appearance and data.appearance['overall-case-outcome']=='Dismissed' %}checked{%
                                endif %}>
                            <label class="govuk-label govuk-radios__label"
                                for="overall-case-outcome-5">Dismissed</label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overall-case-outcome-6"
                                name="appearance[overall-case-outcome]" type="radio"
                                value="No evidence offered - dismissed" {% if data.appearance and
                                data.appearance['overall-case-outcome']=='No evidence offered - dismissed' %}checked{%
                                endif %}>
                            <label class="govuk-label govuk-radios__label" for="overall-case-outcome-6">No evidence
                                offered - dismissed</label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overall-case-outcome-7"
                                name="appearance[overall-case-outcome]" type="radio" value="Discharged" {% if
                                data.appearance and data.appearance['overall-case-outcome']=='Discharged' %}checked{%
                                endif %}>
                            <label class="govuk-label govuk-radios__label"
                                for="overall-case-outcome-7">Discharged</label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overall-case-outcome-8"
                                name="appearance[overall-case-outcome]" type="radio" value="Discontinuance" {% if
                                data.appearance and data.appearance['overall-case-outcome']=='Discontinuance'
                                %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label"
                                for="overall-case-outcome-8">Discontinuance</label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overall-case-outcome-9"
                                name="appearance[overall-case-outcome]" type="radio" value="Withdrawn final" {% if
                                data.appearance and data.appearance['overall-case-outcome']=='Withdrawn final'
                                %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="overall-case-outcome-9">Withdrawn
                                final</label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overall-case-outcome-10"
                                name="appearance[overall-case-outcome]" type="radio" value="Withdrawn" {% if
                                data.appearance and data.appearance['overall-case-outcome']=='Withdrawn' %}checked{%
                                endif %}>
                            <label class="govuk-label govuk-radios__label"
                                for="overall-case-outcome-10">Withdrawn</label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overall-case-outcome-11"
                                name="appearance[overall-case-outcome]" type="radio" value="Proceedings stayed" {% if
                                data.appearance and data.appearance['overall-case-outcome']=='Proceedings stayed'
                                %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="overall-case-outcome-11">Proceedings
                                stayed</label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="overall-case-outcome-12"
                                name="appearance[overall-case-outcome]" type="radio" value="Fine" {% if data.appearance
                                and data.appearance['overall-case-outcome']=='Fine' %}checked{% endif %}>
                            <label class="govuk-label govuk-radios__label" for="overall-case-outcome-12">Fine</label>
                        </div>
                    </div>

                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Continue
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}