{% extends "../template.html" %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-two-thirds">
    <form action="/{{ data.prototypeVersion }}/select-court-case" method="get">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              <span class="govuk-caption-l">Record an immediate release</span>
              Select the court case
            </h1>
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">
            {% if data.courtCases and data.courtCases.length %}
              {% for courtCase in data.courtCases %}
                {% set idx = loop.revindex0 %}
                {% set lastAppearance = courtCase.appearances | last %}
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="courtIndex-{{ idx }}"
                    name="courtIndex"
                    type="radio"
                    value="{{ idx }}"
                    required
                  >
                  <label class="govuk-label govuk-radios__label" for="courtIndex-{{ idx }}">
                    Case {{ lastAppearance['court-case-ref'] }} at {{ lastAppearance['court-name'] }}
                  </label>
                </div>
              {% endfor %}
            {% else %}
              <p class="govuk-body">No court cases found.</p>
            {% endif %}
          </div>
        </fieldset>
      </div>

      <input type="hidden" name="route" value="immediate-release">

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
