{% extends "../template.html" %}
{% set noBackLink = true %}
{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="/{{data.prototypeVersion}}/persist-appearance?appearanceComplete=true"  method="post">
            <div class="govuk-form-group">
                <h1 class="govuk-heading-l">
                    Record an immediate release {% if data.appearance['court-decision']=='yes' %}from court{% else %}from prison{% endif %}
                </h1>
                <ul class="govuk-task-list govuk-!-margin-top-7">
                    {% if data.appearance['court-decision']=='yes' %}
                    <li class="govuk-task-list__item govuk-task-list__item--with-link">
                        <div class="govuk-task-list__name-and-hint">
                            <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href={% if data.appearanceDetailsComplete == 1 %}"check-answers"{% else %}"court-case-reference-number-select?appearanceDetailsStarted=1"{% endif %} aria-describedby="appearance-infromation-status">
                                Add appearance information
                            </a>
                        </div>
                        <div class="govuk-task-list__status" id="appearance-infromation-status">
                            {% if data.appearanceDetailsComplete == 1 %}
                            Completed
                            {% elif data.appearanceDetailsStarted == 1 %}
                            <strong class="govuk-tag govuk-tag--blue">
                                Incomplete
                            </strong>
                            {% else %}
                            <strong class="govuk-tag govuk-tag--blue">
                                Incomplete
                            </strong>
                            {% endif %}
                        </div>
                    </li>
                    {% elif data.appearance['court-decision']=='no' %}
                    <li class="govuk-task-list__item govuk-task-list__item--with-link">
                        <div class="govuk-task-list__name-and-hint">
                            <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href={% if data.appearanceDetailsComplete == 1 %}"check-answers"{% else %}"court-case-reference-number-select?appearanceDetailsStarted=1"{% endif %} aria-describedby="appearance-infromation-status">
                                Add case information
                            </a>
                        </div>
                        <div class="govuk-task-list__status" id="appearance-infromation-status">
                            {% if data.appearanceDetailsComplete == 1 %}
                            Completed
                            {% elif data.appearanceDetailsStarted == 1 %}
                            <strong class="govuk-tag govuk-tag--blue">
                                Incomplete
                            </strong>
                            {% else %}
                            <strong class="govuk-tag govuk-tag--blue">
                                Incomplete
                            </strong>
                            {% endif %}
                        </div>
                    </li>
                    {% endif %}
                    <li class="govuk-task-list__item govuk-task-list__item--with-link">
                        <div class="govuk-task-list__name-and-hint">
                            {% if (data.appearanceDetailsComplete == 1) %}
                            <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="update-offence-outcomes?addSentenceInformationStarted=1" aria-describedby="offences-and-sentences-status">
                                Update offence outcomes
                            </a>
                            {% else %}
                            Update offence outcomes
                            {% endif %}
                        </div>
                        <div class="govuk-task-list__status" id="offences-and-sentences-status">
                            {% if (data.appearanceDetailsComplete == 1) %}
                             {% if data.addSentenceInformationComplete == 1 %}
                             Completed
                             {% elif data.addSentenceInformationStarted == 1 %}
                            <strong class="govuk-tag govuk-tag--blue">
                                Incomplete
                            </strong>
                            {% else %}
                            <strong class="govuk-tag govuk-tag--blue">
                                Incomplete
                            </strong>
                            {% endif %}
                            {% else %}
                            <span class="govuk-task-list__status--cannot-start-yet">Cannot start yet</span>
                            {% endif %}
                        </div>
                    </li>
                    <li class="govuk-task-list__item govuk-task-list__item--with-link">
                        <div class="govuk-task-list__name-and-hint">
                            {% if data.appearanceDetailsComplete == 1 %}
                            {% if data.courtDocumentsComplete == 1 %}
                            <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="../add-court-documents/court-documents" aria-describedby="court-documents-status">
                                Upload documents
                            </a>
                            {% else %}
                            <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="../add-court-documents/court-documents" aria-describedby="court-documents-status">
                                Upload documents
                            </a>
                            {% endif %}
                            {% else %}
                            Upload documents
                            {% endif %}
                        </div>
                        <div class="govuk-task-list__status" id="court-documents-status">
                            {% if data.appearanceDetailsComplete == 1 %}
                            {% if data.courtDocumentsComplete == 1 %}
                                Completed
                            {% else %}
                            <strong class="govuk-tag govuk-tag--grey">
                                Optional
                            </strong>
                            {% endif %}
                            {% else %}
                            <span class="govuk-task-list__status--cannot-start-yet">Cannot start yet</span>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
            <h2 class="govuk-heading-m">
                Finish recording an immediate release
            </h2>
            <!-- <p class="govuk-body">To save a draft of the court case, you must first complete the appearance information.</p> -->
            <p class="govuk-body">Once every task has been completed, you must  save the information. You will not be able to return to this page, but can edit the details in the Court cases tab.</p  >
                <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Finish and save
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}