{% extends "./template.html" %}
{% set nav = true %}
{% block content %}
<!-- Court cases -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Court cases</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form class="form" action="/{{data.prototypeVersion}}/create-court-case?route=new-court-case" method="post">
            <button class="govuk-button govuk-!-margin-bottom-8">Add a court case</button>
        </form>
        <div class="content-top govuk-!-margin-bottom-4">
            <div>
                <span class="govuk-body govuk-!-font-weight-bold">Sort by:</span><span class="govuk-body govuk-!-margin-left-2">Most recent <span class="seperator">|</span> <a href="">Earliest</a></span>
            </div>
            <div>
                <span class="govuk-body">Showing <strong>{{ data.courtCases.length }}</strong> of <strong>{{ data.courtCases.length }}</strong> court cases</span>
            </div>
        </div>
        {% if data.courtCases | length %}
        <div class="court-cases-table">
    {% for courtCase in data.courtCases %}
    {% set lastAppearance = courtCase.appearances | last %}
    {% set courtCaseIndex = loop.index0 %}
    <div class="court-case-row">
        <h2 class="govuk-heading-m"><a href="court-case-detail?courtCaseIndex={{loop.index0}}" class="govuk-link--no-visited-state">{{ lastAppearance['court-case-ref'] }} &mdash; {{ lastAppearance['court-name'] }}</a></h2>
  <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Case references
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ courtCase.appearances | unique("court-case-ref") | join(", ") }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Overall case outcome
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ lastAppearance['overall-case-outcome'] }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Last appearance
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <ul class="govuk-list">
                                <li>{{ lastAppearance['court-case-ref'] }} </li>
                                <li>{{ lastAppearance['court-name'] }}</li>
                                <li>{{ lastAppearance['warrant-date-day'] }}/{{ lastAppearance['warrant-date-month'] }}/{{ lastAppearance['warrant-date-year'] }}</li>
                            </ul>
                        </dd>
                    </div>
                    {% if lastAppearance.sentences %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Overall sentence length
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ lastAppearance['overall-sentence-length-years'] }} years {{ lastAppearance['overall-sentence-length-months'] }} months {{ lastAppearance['overall-sentence-length-weeks'] }} weeks {{ lastAppearance['overall-sentence-length-days'] }} days
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Sentences
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <ul class="govuk-list">
                                <li>{{ lastAppearance.sentences.length }} </li>
                            </ul>
                        </dd>
                    </div>
                    {% endif %}
                    {% if (lastAppearance['next-court-date-set'] == 'Yes') %}
                    {% if lastAppearance['warrant-type'] == "Remand" %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Next hearing
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <ul class="govuk-list">
                                <li>{{ lastAppearance['next-court-name'] }}</li>
                                <li>{{ lastAppearance['next-hearing-type'] }}</li>
                                <li>{{ lastAppearance['next-court-date-day'] }}/{{ lastAppearance['next-court-date-month'] }}/{{ lastAppearance['next-court-date-year'] }} at {{ lastAppearance['next-court-time'] }} {{ lastAppearance['next-court-time-period'] }}</li>
                            </ul>
                        </dd>
                    </div>
                    {% else %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Next hearing
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Date to be fixed
                        </dd>
                    </div>
                    {% endif %}
                    {% endif %}
                </dl>
    </div>
    {% endfor %}
  </div>
</table>    
        {% else %}
        <p class="govuk-body">There are no court cases recorded for Daryl Evans.</p>
        <p class="gouk-body"><a href="/{{data.prototypeVersion}}/create-court-case?route=new-court-case">Add a court case now</a>
        </p>
        {% endif %}
    </div>
    <!-- <div class="govuk-grid-column-one-third">
        <div class="actions-list">
            <ul class="govuk-list actions-list-list">
                <span class="govuk-heading-m actions-list-header">Actions</span>
                <li><a href="/{{data.prototypeVersion}}/create-court-case?route=new-court-case">Add a new court case</a></li>
                <!-- <li><a href="">Record an appeal</a></li> -->
    </ul>
</div>
</div>
</div>
{% endblock %}